[2021-12-07 18:35] servoz opened #250 "[Input filter enhancement] integrate the filtering as a completion implementation for the input filter node"
In fact, the main task of the Input_filter is to perform a specific completion of the output (what we call a filter :-).

- We want this to be able to be done within the existing completion.

- By inserting this into the changes to be made to the development of a temporary database during initialisation stage #249 , we would have a mechanism for the Input_filter brick that would work in all cases.

[2021-12-07 18:44] servoz commented on #243
I have just opened 3 tickets #248 #249 #250, for the sake of simplicity, with the 3 actions that would need to be done to fully fix the issues raised in this ticket. Feel free to add/change  to themif I have forgotten something or if it is not clear!
I think we can close this ticket now

[2021-12-07 20:18] #243 closed

[2021-12-08 06:51] servoz commented on #151
I think this ticket can be closed now.

[2021-12-08 06:51] #151 closed

[2021-12-08 06:54] #238 closed

[2021-12-08 08:09] LStruber commented on #221
fix with commit 0665bf2e24e9d416f0da5cd91fa1209fc32bc673

[2021-12-08 08:09] #221 closed

[2021-12-08 09:34] servoz opened #251 "[initialisation step] too much writing to standard output when initialising an iterated pipeline?"
Without having tried to understand at all yet! (So maybe I'm wrong):
Minimum procedure for reproducing:
- [From a database with three patients (each patient has one anat and one functional)](https://mycore.core-cloud.net/index.php/s/Hzw2pqiP9puDJ7m]).
- Take the spatial_preprocessing_1 brick from the mia_processes library.
- Follow the procedure for iteration as described in the documentation ([Vi

[2021-12-08 10:16] LStruber commented on #251
This is due to recent commits introducing `workflow_from_pipeline` function in intialization. This function (re)performs completion of iterated pipelines. Then standard output is printed twice... However 'workflow_from_pipeline()' does not perform any completion on non-iterated bricks/pipeline.

I guess we should:
1. check if completion done in `workflow_from_pipeline` is sufficient to ignore the

[2021-12-08 10:23] LStruber commented on #251
As a quick fix we could add a `boolean` parameter `do_completion` in `workflow_from_pipeline` function to choose if the function should perform completion (as there is a `check_requirements` parameter) and set it to False in MIA.

Btw I think we should set `check_requirements` parameter to `False`, in order not to check requirements twice (it seems to be currently performed twice also)

[2021-12-08 10:27] denisri commented on #251
I'll modify `workflow_from_pipeline` (unless you have already started it ?)

[2021-12-08 10:28] LStruber commented on #251
Nop, you can do it

[2021-12-08 10:29] LStruber commented on #251
What do you mean by:

The option will disabled completion for iterated pipelines too, right ?

[2021-12-08 10:46] denisri commented on #251
No, it cannot always work without it.
Well I have answered too fast, the situation is (as always) more complex than it appears...
In iterations, each iteration step needs a completion for itself: typically input values change at each iteration for the iterated process or pipeline, and its other parameters need to be updated accordingly, otherwise some parameters will not follow the iterations and

[2021-12-08 10:53] LStruber commented on #251
Then would it be possible to perform:
1. either completion of non-iterated pipelines in `workflow_from_pipeline` function,
2. or only a "simple completion" (not going inside iterated node) in MIA, before calling `workflow_from_pipeline`
?

[2021-12-08 11:01] LStruber commented on #251
I guess this issue is sort of duplicate of #220 as the completion that was performed before run was certainly due to the call of `workflow_from_pipeline` that was done before run and has now been moved to initialisation

[2021-12-08 11:08] denisri commented on #251
Yes you completely get it (I was not sure to be clear). I'll see it the "simple completion" is feasible.

Thus #220 should be the same thing, yes, but it has to be checked too.

[2021-12-08 12:18] denisri commented on #251
The simple solution is to add an optional parameter like `ProcessCompletionEngine.complete_parameters(complete_iterations=True)`. It's not very beautiful but as it may be useful for any pipeline which will be converted into a workflow (which is the aim of the pipeline thing), I'll do this way.

[2021-12-08 12:58] servoz commented on #233
Please, @LStruber, can you send again the data? (the deadline on filesender is exceeded)

[2021-12-08 14:37] montigno commented on #58
to @servoz :

I pushed on the branch 'issue#58', the modification i made.
I added 'Export to BIDS' in the File menu, for the moment it only displays the databrowser list in the terminal.

I used 'self.project.session.get_documents_names (COLLECTION_CURRENT)'

It's correct ?

[2021-12-08 14:52] LStruber commented on #251
didn't you miss something in `completion_engine.py` in the `complete_parameters()` function ? I feel like there should be somewhere a `if complete_iterations: [...]`

[2021-12-08 14:59] denisri commented on #251
Yes of course, you're smart ! ;) And I'm kind of silly... I should not do 4 different things at the same time... I paid attention to correctly pass the new parameter across nodes and classes inheritances trees, but at the end I didn't do anything with it :)

[2021-12-08 15:09] servoz commented on #251
:-)))) 4 things is not bad ... I have trouble starting from one !

[2021-12-08 15:11] denisri commented on #251
Well, now it implies modifications inside workflow_from_pipeline because it was expecting completion to have already be done once in order to 1. assign temporary filenames to all internal file parameters (output connected to another input, with no value determined), 2. determine the number of iterations and check if the iteration is static or dynamic (the latter case is not handled and produces an

[2021-12-08 17:07] servoz commented on #58
Great !!!
I just did a test with data from a mia calculation. We can see, in the stdout, the list result showing the whole documents in the database in use in mia, with data in the raw_data and derived_data directories!
[code]

From here you can access the tags you need by querying the database (as you did with [get_documents_names()](https://github.com/populse/populse_mia/commit/f9c1aeea9caeb6df1

[2021-12-08 17:36] denisri commented on #251
Well, this modification is not trivial at all. I get headaches... I have made changes (still uncommited) that more or less do the job, but I suspect some cases are not taken into account any longer (more permissive iteration, no support for mixed static/dynamic outputs in iterations, and I suspect temporary files handling and output links are broken). I have to write a set of test cases which did

[2021-12-08 17:59] denisri commented on #248
If I may add a comment on the input filter node: this node is not operated through "standrad" node/pipeline handling (using the traits API for parameters, and the controller edition GUI). Thus it needs a special GUI to define filters, and its API is also different: the node contains a `filter` variable (of type `Filter`) which is not a trait, thus does not appear on a pipeline signature, cannot be

[2021-12-08 22:05] servoz commented on #248
Your remark illustrates perfectly the difficulty to develop a common project when we don't have time to meet to define common bases, commonly understood goals, concepts, etc. We all have good wills, we try to do our best to solve the problems that arise through the issues in github, but it must be said that we develop things each of us in our own corner. It is not certain that your evidence is the

[2021-12-09 08:15] LStruber commented on #233
https://filesender.renater.fr/?s=download&token=e4aa015d-0176-41fe-b4c7-27a23d84f268

[2021-12-09 09:19] servoz commented on #233
Ok it is only nii file. There is no json file?
It's just to  be sure that there is no problem with the raw data?

What is clear is that if there is no json, there will be no metadata in the database (databrowser). I don't think this is the cause of the issue in this ticket... although it's been several months since I last looked at the module, I'll have to bury myself into it first before to be su

[2021-12-09 10:11] montigno commented on #58
I pushed a new version on the branch 'issue#58', now I can retrieve the tags of each data.

I added two files :
export_bids.py & Modalities_BIDS.yml in 'populse_mia/python/populse_mia/data_manager'

This is not a problem ?

[2021-12-09 10:30] montigno commented on #58
I forgot to specify one thing : pybids must be installed (pip3 install pybids)

[2021-12-09 14:37] servoz commented on #58
Cool! Keep going!! Currently, the export_bids modules are not yet connected.

We may have to see where to place the modules and add pybids to the mia requirements. But when that's all that's left to do, the hard part will be done.

I think for the moment, it's better to do quick and dirty to see ASAP concretely a result and the issues encountered.

[2021-12-09 15:47] LStruber commented on #233
These are the nifti data directly extracted from the scanner. If you prefer here is a link of same data (even if file names are differents due to BIDS requirements) with the corresponding *.json:

https://filesender.renater.fr/?s=download&token=81449d48-dd69-4b71-96cd-dd910fc0944a

But anyway, I'm sure there is no problem with the raw data, I visualized it, process it etc. on my side.

[2021-12-09 16:49] servoz commented on #233
I reproduce the issue with your data ... this is good news !

[2021-12-13 15:35] servoz commented on #233
There was a problem in the mini_viewer operation. The list of known images in the mini_viewer kept growing, whereas it is only necessary to keep the last selected images. This issue has now been fixed.

However, for some reason we don't yet know, the @LStruber's data produce an increase in memory due to nibabel's [as_closest_canonical()](https://nipy.org/nibabel/reference/nibabel.funcs.html#nibabe

[2021-12-14 11:06] LStruber commented on #247
**1. Regarding the Exception:**
I had hard times understanding what was going on here... I'll try to explain it as simple as possible.
In MIA when renaming a node, a `value_changed` signal is emited by the `node_controller`, calling the `controller_value_changed` function of `pipeline_manager_tab.py`. This function recover the current pipeline (`pipeline = self.pipelineEditorTabs.get_current_pipel

[2021-12-14 11:10] servoz commented on #247
great !

[2021-12-14 11:13] LStruber commented on #247
I just checked with the V1 controller.
For 1. the Capsul modifications also solved the issue
For 2. renaming child nodes can be done using the same function than for V2 controller

[2021-12-14 11:14] servoz commented on #247
For the second point, I completely agree with you, we should also change the name of the children!

[2021-12-14 11:44] denisri commented on #247
I agree with most, except that I suspect a more subtle problem for 1. Totally OK for 2.
For 1., the thing that puzzles me is that you are calling `self.scene.__del__()` manually: this should not be done "by hand": when there are no remaining references on a python object, then it should be deleted automatically, and its `__del__` method will be called automatically if it has one. If it is not call

[2021-12-14 12:00] LStruber commented on #247
I agree with that, my only concern is : does it worth to look into why scene object is not automatically deleted for a 'minor' issue of renaming ? It seems that looking into that won't be a happy time :)

[2021-12-14 14:06] denisri commented on #247
For you it's possibly not worth ;) For us (me) it's quite important to guarantee that the library works well and without errors...

[2021-12-14 15:07] LStruber commented on #247
Of course it is important ! The only thing I wanted to point out is that we can either fix the issue by a simple "patch" ensuring that the library works, or digging more deeply to understand precisely the why it happens and maybe find a better solution.
Obviously the second solution is always better for the library, but as we have a lot to do, sometimes the first solution allows to focus on higher

[2021-12-14 15:14] montigno commented on #58
The export to Bids seems to be worked (for me) and only for raw data for instant, it remains to complete the json files.

How to retrieve all the tags and values of a data?
We can loop on 'self.project.session.get_value'  but I think there is a way to recover the dictionary faster.

Thank you !

[2021-12-14 15:18] servoz commented on #247
[code]
it looks almost clean (for a patch), doesn't it?

[2021-12-14 15:24] denisri commented on #247
If the scene is actually deleted after `del self.scene`, or after `gc.collect()`, then it's completely good. If not, then we still have a memory leak but it won't crash at once: it will be OK for the current issue, but we should open another one in capsul.

[2021-12-14 15:26] servoz commented on #247
did you try to see if after this patch, self.scene still exists (by doing for example just an if hasattr()) ?

[2021-12-14 15:26] LStruber commented on #247
It prevents the crash but the `__del__()` method of `PipelineScene` is not called, then I guess it is not really deleted and the memory leak remains

[2021-12-14 15:29] denisri commented on #247
Then there is still a leak, yes. We should open another ticket for that in Capsul. And you can push your modif to fix the current issue.

[2021-12-14 16:07] servoz commented on #58
You maybe want to use get_fields_names() and get_value() from populse_db?

I have just tested several times with different data and each time mia crashes during `Export to BIDS`. [Did you try with these kind of data](https://mycore.core-cloud.net/index.php/s/h08kv7yc8hM4eJK), obviously after import from mri_conv in mia?

[2021-12-14 16:45] servoz commented on #58
ooops sorry, I do too many things at the same time (from one I start to have trouble !) and I read diagonally ... I think you want to use get_documents() instead. The returned object is not really a dictionary, but it looks like one! Otherwise the one who knows best populse_db between us is @sapetnioc  I think ...

[2021-12-14 16:59] LStruber commented on #233
Just tested it on master branch with the data I provided. It does not crash anymore and my RAM usage does not grow "indefinitely" as before ! Moreover switching between documents and editing tag names is faster than before.

In my opinion, this ticket can be closed.

[2021-12-14 22:51] #233 closed

[2021-12-16 13:58] montigno commented on #58
to @servoz, now it should work with your data (I hope), only for raw data for instant.

There is still a lot to do for the export to work well, it will be necessary to gradually complete the BIDS modalities dictionary (in Modalities_BIDS.yml file).

I searched how to get the dictionary of tags/values for each data.
In the 'database.py' file of populse_db, on line number 255, we find all the method

[2021-12-16 15:20] servoz commented on #58
- OK, it works on the data. What is still blocking for the derived_data and downloaded_data?
- The operation is quite long, but I think it's because the nii files are compressed in gzip format.
- I note that your branch is strange. I think you have done some `merge master` with unresolved conflicts. Please do not merge your branch into master until you are sure that your branch is not corrupted an

[2021-12-17 07:30] servoz commented on #58
@brosscle, please can you test the issue#58 branch with your data (only after File > Import, no calculation) in order to orientate the work from the beginning and not to start in a wrong way.

[2021-12-17 10:06] montigno commented on #58
For instant, the export works for raw data, but for others I think it will be quick.
The operation is indeed quite long because of the compression in gzip format.

I had problems with 'git pull' (in the branch issue#58), the message invited me to do commit then git pull redo the commit and git pull, and this without stopping. Finally I done git stash, but I had to put my modified codes manually in

[2021-12-17 10:28] servoz commented on #58
The branch is strange, for example see https://github.com/populse/populse_mia/commit/9b2abc33be3362967c008e67145bdbcba062d8a2
for example:

[code]

Indicates that there is an unresolved conflict after a merge. For me, when I see this, it is hard to have confidence in the whole branch. To be sure that all is well, I will tend to start from a clean branch (start from master and create a new branch)

[2021-12-21 11:49] montigno commented on #58
Maybe i need to create a new clean branch?

Thanks to @sapetnioc's explanations, now I can easily save the dictionaries in the json files.

There is still a lot to do in the associations of MRI sequences with BIDS modalities.

[2021-12-21 17:39] denisri commented on #251
I pushed a new branch:
https://github.com/populse/capsul/tree/workflow_rework
which perhaps fixes this issue.
Tests pass in Capsul (including a couple of new tests for iteration and completion in workflows) but I'm not totally sure all the use cases we want are covered by tests...

[2022-01-04 08:09] LStruber commented on #247
Closed with commit 793f1d26f157a2b1decc495ded9202f3800484ef (Capsul) and commit 7c2a206fe3e79bc581a5f8cf931cee0e59a4b24. The memory leak remains and the corresponding ticket has been open in Capsul.

[2022-01-04 08:09] #247 closed

[2022-01-04 09:45] servoz commented on #236
After a private discussion with @LStruber , it was decided:
- Retrieving all the information for each crossed brick before arriving at the final data may not be trivial (just as examples: case of pipelines with parallel branches, case of spm bricks with the "estimate" option that will rewrite the input data header, etc ...), but the latest work on the self.workflow object when improving iterations

[2022-01-04 10:48] servoz opened #252 "[initialisation step] Integration of the initialisation as the first step of the Run pipeline - Temprorary patch waiting for #249 fix"
The database indexing issue is a broad topic that has already been discussed extensively in several now closed or still open ticket.

It is a fundamental operation in Mia and has many impacts on various essential elements of Mia, depending on how and when it is done.

There is currently a consensus that the best solution would be to perform this indexing at runtime with the use of a temporary data

[2022-01-04 10:56] servoz commented on #249
After a private discussion with @LStruber, it was decided to keep this ticket which seems the best solution to implement, but while waiting for this solution which seems complex and long to realise we open a new ticket (#252) that can be simpler to realise while waiting better!

[2022-01-04 11:28] servoz commented on #239
After a private discussion with @LStruber , it was decided :
  - Until we can do better (change the controller version directly without having to restart Mia - and thus waste time with what is in progress -), we add a pop-up that opens, when changing the controller version in mia's preferences, that displays the message "Mia must be restarted to change the controller version".
  - The pop-up inclu

[2022-01-04 13:11] servoz commented on #185
After a private discussion with @LStruber, it was decided :
- Until we can do better (perfect synchronisation between Mia's preferences and capsul engine configuration, this ticket), we comment out the CAPSUL part (including the `Edit CAPSUL config` button) in the Pipeline tab of the Mia's preferences.

The Mia's preferences synchronisation with capsul engine configuration works correctly now, but

[2022-01-04 13:22] LStruber commented on #252
Closed with commit f1e29bfd7a233aa9d4756c599e2dbb2b04a03d86.
To sum up:
- Initialization button has been removed (commented), and Start button is now always clickable,
- At the beginning of run, initialization step is performed,
- If the `Run pipeline` fails (tested by manually stopping a running pipeline), data that have not been created yet on hard drive is removed (using `cleanup_orphan_bricks(

[2022-01-04 13:22] #252 closed

[2022-01-04 13:32] LStruber commented on #150
Since the resolving of issue #252 (setting the initialization as the first step of the run), the question of having different database for each tab no longer arises (or is at least less important).
Indeed, the major (only ?) source of database conflicts was the possibility for the user to initialize a pipeline in a tab, and use the results of initialization (which do not exist on hard drive!) in a

[2022-01-04 13:43] servoz commented on #112
After a private discussion with @LStruber, it was decided :
- When we delete a document from the database, the corresponding data is deleted from the hard disk as well.
- To do this properly we should:
  - In the warning pop-up
![Screenshot from 2022-01-04 14-21-13](https://user-images.githubusercontent.com/37933899/148066839-7adad4e7-c7ca-4a05-84d8-55c5661006be.png)
add the message: Be careful! t

[2022-01-04 15:32] LStruber commented on #236
I just looked in workflow object, that has a "dependencies" attribute listing the dependencies (links) between jobs. Then, using it, it should not be too hard to recursively retrieve all dependencies of a brick.

However, thinking about these dependencies, I wondered how to order dependencies in the bricks tag, especially when a brick depends on several bricks.
For example taking the Spatial_prepr

[2022-01-05 09:55] servoz commented on #161
After a private discussion with @LStruber , it was decided :

We take an intermediate position (between doing nothing if the brick - the class - is in a module with other bricks - classes - and doing the deletion).

- We code a pop-up that says something like "the brick(s) cannot be deleted because it belong(s) to a module with several other bricks". We Indicate in the pop-up that in order to perf

[2022-01-05 15:17] denisri commented on #251
The branch has been merged into capsul/master since tests pass.

[2022-01-06 13:18] servoz commented on #251
I just tested and thanks to the changes made by @LStruber  and @denisri  it seems that all are now working as we want (at least for the issues discussed in this ticket).
The issue of ticket #220 seems to be solved too.
I think we can close these two tickets!

[2022-01-06 13:18] #251 closed

[2022-01-06 13:24] servoz commented on #220
This issue is now fixed see #251.

[2022-01-06 13:24] #220 closed

[2022-01-07 16:16] servoz commented on #236
oh yes, you're right, I hadn't thought about the display to adopt according to the "paths" of dependencies ...
I confess that I need to think about this a bit ...

[2022-01-07 17:05] denisri commented on #236
Hi,
I haven't followed closely this issue until now, but I have a different point of view (I'm not saying my view is the best, just that there are other ways to look at it).
As you have seen, the complete history of processing chains leading to produce a given data is complex: it's not always a linear chain, you have shown situations where it is a tree, but in a general way it's not even a tree, i

[2022-01-10 10:57] denisri commented on #236
(1) I don't think (as far as I remember) that full pipelines are recorded in the history, but just individual processes (bricks), thus we cannot withdraw the exact full pipeline that has produced the given data, but we can rebuild the part of processing graph that has lead to this data. In "standard" processing, we have to follow upstream data and processes that have produced them, and rebuild a p

[2022-01-10 11:13] denisri commented on #236
Anyway I can try to propose a pipeline rebuilding tool.

[2022-01-10 14:28] denisri commented on #236
I haven't looked at branch fix4#236 (yet - I can't switch right now because I have modifs in progress in my current branch). But I wonder how you overcome the difficulties that have been raised above:
- How do you know when to erase the history of a data which will be re-written ?
- How do you get the list of bricks involved in the output of the given data ? Do you search it through the whole hist

[2022-01-10 14:57] servoz commented on #236
@LStruber since you are the one who coded the branch in question, can you answer @denisri ?
I can do it but I think you will be more precise than me?

[2022-01-10 15:18] LStruber commented on #236
Currently in master branch, when a pipeline is run, all executed bricks are added to the brick table of the database (`COLLECTION_BRICK`) and all output files are added to the main database (`COLLECTION_CURRENT`). The link between both tables is done through the bricks tag of `COLLECTION_CURRENT`, which is appended by the (last) brick that produced the file.

What I did in fix#236 branch is that i

[2022-01-10 15:40] denisri commented on #236
OK then, the only concern I still have is erasing a file history: if I understand you always append bricks ids in the bricks tag of file data, and never remove anything from it ?
So if I run a pipeline once, then (maybe another day) I rebuild the same pipeline and run it again, maybe with different parameters (say, different smoothing value for instance), from the same input data, then all outputs

[2022-01-10 15:40] servoz commented on #236
Thanks @LStruber .
As I have already observed, in fact we often end up looking for the same thing, imagining different solutions.
I am convinced that this is a wealth, because unless we make a mistake in our reasoning, which can happen (and it has happened to me!), if we make the effort to spend some time discussing together it can bring a better solution than each one taken separately.
The topic

[2022-01-10 15:48] LStruber commented on #236
@denisri I'm not sure of the behavior in this case, I will check this asap. What I'm sure of, is that the behavior regarding erasing history is the same in master branch than in fix4#236 branch. In both branches, new brick(s) is (are) appended to the history.

[2022-01-10 15:57] LStruber commented on #236
I just checked in MIA. Actually the bricks tag seems to be erased each time a pipeline is run. Then the bricks tag only keep track of the last pipeline history

[2022-01-11 08:41] LStruber commented on #185
CAPSUL configuration has been commented in commit 0e8c820f601edb7185eab00ae4d564c2da856ab1. I let the ticket open until the synchronisation is completely fixed.

[2022-01-11 09:50] servoz opened #253 "[general need] Currently, unit tests fail"
This seems to come from the f009289 commit, and after.

[2022-01-11 09:55] servoz commented on #236
Currently master branch crashes if we go to the DataBrowser while the pipeline is running. To avoid the crash it is necessary to wait for the end of the calculation to go in the DataBrowser

[2022-01-11 10:12] #112 closed

[2022-01-11 10:15] LStruber commented on #112
Proposed modifications were implemented.
Undo/Redo of "remove_document" action was commented, and undo/redoable possible actions has been added to the project.py docstring.
I suggest that another ticket should be open to deal with other concerns of undo/redo (clarification, cleaning)

[2022-01-11 16:08] servoz commented on #253
- UT "Testing scan removal undo/redo" is removed from the the test.TestMIADataBrowser.test_undo_redo_databrowser() (989808d4)

[2022-01-11 16:26] denisri commented on #253
Seems like it is due to empty input / output main nodes of a pipeline being deleted (populse/capsul#186), but the tests don't expect this new behaviour ;)

The error is:
[code]

[2022-01-11 16:29] denisri commented on #236
I don't observe this behaviour but I have modified the code since this has been reported, so I don't know if it's fixed or if I haven't tested it in the same situation.

[2022-01-11 16:31] denisri commented on #236
I agree, but I already have a number of meetings these days. Can it wait for a about couple of weeks ?

[2022-01-11 16:36] denisri commented on #253
It's not only the test actually, it's the undo/redo features which don't expect the new behaviour.

[2022-01-11 16:39] servoz commented on #253
exactly, I'm looking at this!

[2022-01-11 17:26] servoz commented on #236
With master on last commit I always observe the issue.
the raised exception:
[code]

[2022-01-11 17:28] servoz commented on #236
no problem, we can continue to discuss in the tickets.

[2022-01-12 09:00] servoz commented on #253
The last commits seem to fix the issue.
On the other hand we have again a permission issue when we test the deletion of a document in the DataBrowser:
`PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: `

[2022-01-12 09:06] servoz commented on #253
Ah, not only Windows! Mac also fails on TestMIADataBrowser.test_brick_history():
[code]

[2022-01-12 09:26] denisri commented on #253
The latter one is because dot (graphviz) is not installed on the test mac system. It should be optional. I'm fixing that.

[2022-01-12 09:29] servoz commented on #253
ok, I'll look at the issue with Windows then.

[2022-01-12 10:33] LStruber commented on #239
I see two solutions here. We can either open the popup directly when the controller checkbox is toggled, or open the popup when OK button of preferences window is clicked, only if controller checkbox was modified. What do you think is prefereable?

Another point on this ticket: restarting properly the application does not seem to be effortless. I tried it in a new branch (fix#239) with this tutori

[2022-01-12 11:34] denisri commented on #239
Is the restart feature only needed for the controller GUI version change ? If so it's probably not worth spending time on it since this controller version change is obviously a temporary feature. Better spending efforts on implementing a controller GUI that fits all needs.
The v1 controller GUI does not support attributes (for attributes completion) thus is not suitable for the needs on our side (

[2022-01-12 12:03] LStruber commented on #239
For now yes, it is only needed to change controller version.
I totally agree with you but I have no idea of the workload needed to reimplement a controller that fit all needs

[2022-01-12 13:06] LStruber commented on #161
@servoz do you have an example of a module containing several bricks other than nipype, mia_processes and capsul packages ? It seems that saving pipelines (User_processes) only create "single" classes

[2022-01-12 13:56] sapetnioc commented on #239
Well, I already did it but with a complete rewriting of Controllers so the effort may be important to make the switch. At the beginning it was just a branch to evaluate the interest of using standard Python 3 features for Controllers but finally, I went far in this branch. The major reasons why I have walked this path are :

- Drop Traits dependency in favor of a typing definition following Python

[2022-01-12 14:13] denisri commented on #239
I was thinking about this while I was writing my last message, and I'm happy you talk about it. However this is far more than a GUI rewrite, the changes are deep and not complete yet:
- all Capsul pipelines and soma controllers API have changed. All code needs to be (at least partly) re-writen: existing processes and pipelines etc.
- python2 is totally dropped, while we still maintain (for a short

[2022-01-12 14:41] denisri commented on #185
Do you have an example / test of bad sync between capsul and mi configs ?
Well, I have added the capsul config because we use it to edit some settings not managed by mia, and now we cannot any longer :/ What's the reason to remove it ? To avoid confusing users ? Can we rather, at least, make it available in admin mode (since this mode exists, let's use it)
Mia is based on Capsul, thus should not r

[2022-01-12 15:03] denisri commented on #236
I have tried using spatial_preprocessings_1 and using morphologist, and in each case, while it was running, I could switch to the data browser tab without a problem, and even see the data history. So I must do it in a different way, but I don't know how to reproduce the problem.
Is it related to the recent changes for data history ? (because the general view in the data browser should not be affec

[2022-01-12 15:32] denisri opened #254 "optimize project opening"
**Expected behavior**
Opening a project should be fast

**Actual behavior**
Opening a rather small project takes about 10 seconds on my laptop (with local files), which seems not reasonable and surprisingly long. For another (a bit larger) database it's more than 20 seconds, thus seems to depend on the size of the database.
While developing we restart populse_mia very often, and this time is taken

[2022-01-12 15:51] denisri commented on #254
Looking at the code in `populse_mia.main_window` in `MainWindow.switch_project()` and printing time at different points, I see that all the time is taken while calling `problem_list = data_loader.verify_scans(temp_database)`.
So I had a look at this function, which does the following:
- iterate over every document (file) in the database
  - check that the file exists
  - read the whole file in mem

[2022-01-12 16:11] #254 closed

[2022-01-13 07:11] servoz commented on #254
This is a good modification that will significantly improve the speed of execution of Mia! You are right this possibility of verification must exist but only on demand by clicking on File > Check the wole database.

[2022-01-14 09:22] servoz commented on #236
Traceback (most recent call last):
      File "/casa/home/Git_projects/populse_mia/python/populse_mia/user_interface/main_window.py", line 1405, in tab_changed
        self.data_browser.table_data.add_rows(documents)
      File "/casa/home/Git_projects/populse_mia/python/populse_mia/user_interface/data_browser/data_browser.py", line 1019, in add_rows
        scan['FileName']))
    TypeError: strin

[2022-01-14 11:20] denisri commented on #236
OK I nee now ;)
It apparently happens on new data which have just been inserted in the database but don't exist yet. It's strange however that a data document may not have a filename (even when the file doesn't exist). Anyway it's easy to fix now.

[2022-01-14 11:23] denisri commented on #236
I hope the crash is fixed now.

[2022-01-14 11:39] denisri commented on #236
With the modifs I have done during the last days, we now have the possibility to get and display a graph for a data history, which displays all upstream processing, and the input data used indirectly to build the given data. The graph may be a bit complex, as seen on the snapshot below.
I still need to rework the history cleaning (I have unplugged the former cleaning functions because they were "t

[2022-01-14 12:28] servoz commented on #236
Yes it is fixed now ! cool.
Sorry, I'm very busy elsewhere and I'm very late compared to what's happening in Mia right now ...
I'll be back ASAP (in this ticket and in others ...)

[2022-01-14 17:58] denisri commented on #236
The history cleaning has been reimplemented and reactivated after runs.

[2022-01-17 12:23] servoz commented on #253
The issues seem to be fixed now. I'm closing this ticket.

[2022-01-17 12:23] #253 closed

[2022-01-17 12:31] LStruber commented on #239
For now, I just added a popup indicating to the user that MIA should be restarted to take the change into account (commit f1e65590d72f8a60cef77b869ca11b47bc4cba75). It is up to the user to do so.

[2022-01-17 15:24] servoz commented on #161
Yes you are perfectly right.

Nypipe, mia_processes and capsul being python packages we made the choice not to allow to delete bricks/processes/classes in them (which wouldn't really make sense, especially since they are mandatory packages for mia) and to only allow to make them invisible in the manager pipeline.

On the other hand for all other process/bricks libraries in the pipeline manager the

[2022-01-18 15:33] servoz commented on #239
Yes, it's a good idea since we really need to be able to switch easily from controller 1 to 2 and vice versa (2 may be better than 1, but it doesn't work as well for the moment as 1, which can handle all data types).

The only thing that bothers me in this patch is that we change the controller type in the preferences of Mia, and that from this moment in these preferences the controller type is no

[2022-01-18 15:37] LStruber commented on #161
I proposed a solution in branch fix#161 to fix the issue as explained by @servoz few days ago.
I tested the branch with the libraries I had, and it seems to works. To detect the classes (bricks) in the module, I choosed to look in the module `__init__.py` which should normally be up to date.

Although I tried to handle all cases when reading `__init__.py` (for example multiline import with parenth

[2022-01-18 16:16] servoz commented on #239
Moreover I observe a regression when testing controller 1 by chance:
We lose the "run pipeline" button when we left-click on a brick or on an input or output node.

Minimum procedure to reproduce:
- Open Mia with controller 1 state
- Open a project (not mandatory)
- In pipeline manager drag and drop to the editor the SPM Smooth brick from mia_processes (the "Run pipeline" button is available)
- At

[2022-01-18 16:53] servoz opened #255 "Mia does not support now a pipeline launching without input parameters error."
The minimum steps to reproduce :

- Open Mia
- Open a project
- In the pipeline manager, drag and drop the SPM Smooth brick from mia_processes into the editor
- Click on the "Run pipeline" button (this is an error as we have not yet defined the input parameters, but errors should be handled in Mia).
- We observe in the status bar: Pipeline "NoName" was not initialised successfully and in the stdou

[2022-01-19 09:48] LStruber commented on #239
I'm not sure about your proposal for the patch. Let's take an example:
- Controller version is at version 1
- The user open the preferences and changes the controller version to version 2
- He closes the preferences, a popup appears telling him that the change will be taken into account if he restarts MIA, and state
- He opens the preferences again to change for example SPM directory, the checkbox

[2022-01-19 10:24] servoz commented on #239
In my opinion the best thing is to have the preferences settings (and thus their visualisation in File > Mia preferences) as close as possible to the Mia working state in order to avoid surprises or side effects.
Thus the use of an editable object at the time of the use of File > Mia preferences and reachable at start-up or shut-down would be a solution. But there are certainly other solutions.

E

[2022-01-19 19:46] LStruber commented on #239
I think I found out the problem of controller V1 that disabled the run pipeline button. I also implemented a solution for the "restart patch". Everything has been pushed into master branch.
@servoz I let you check on it (I don't usually use V1 controller then I may have missed something), and reclose the issue if everything is fine for you.

[2022-01-19 20:09] LStruber commented on #255
I also reproduced this issue:
The first error `AttributeError: 'PipelineManagerTab' object has no attribute 'get_current_pipeline'` seems to be simple to solve: in function `get_missing_mandatory_parameters` of `pipeline_manager_tab.py` `self.get_current_pipeline().pipeline_node` is called while it should certainly be `self.pipelineEditorTabs.get_current_pipeline().pipeline_node` as everywhere els

[2022-01-21 17:46] servoz commented on #161
I've spent some time on this ticket, it's the kind of ticket that makes headache.
I made some modifications to allow to manage (all?) most of the cases.
Now the most classic cases are managed I think.
However I think there are still a few cases that are not yet properly handled.
I need to write several library cases to be able to test this properly.
I will work on this ticket ASAP.

[2022-01-24 10:51] servoz commented on #161
Ouch It's like the pandora box ...
While testing the bricks deletion, I notice that the installation by More > Install processes does not manage all the cases either ...
So I'm going to look at the whole installation / removal of non mandatory libraries (nipype, capsul, mia_processes).
These are important Mia's features for the user.
Indeed, one can imagine and work hard on the functioning of Mia,

[2022-01-25 17:15] #161 closed

[2022-01-25 17:21] servoz commented on #161
Your solution was good @LStruber.
I just tried to complete to cover all the cases...
 It was a meticulous work thus I hope we didn't now forget any case...

[2022-01-26 08:51] servoz commented on #255
You are right, thanks to your last commit e6da463, we don't have the first issue described in the first message of this ticket.

However we still observe the second exception:
[code]
@denisri , please, can you remind us what the blue color code for gnodes means?

I don't know if the issue comes from mia or capsul ...

Anyway, I'm running out of time right now and I set myself to work on tickets #2

[2022-01-26 09:30] denisri commented on #255
I can reproduce the problem.
The error fires even before clicking on "run": it happens first when we select the input from the filter, and only after a first failed run attempt, as you describe.
It seems to be an object which has been deleted, but notification callbacks still fire for it.

[2022-01-26 10:46] servoz commented on #58
I think we lost @brosscle ....

[2022-01-26 11:24] denisri commented on #255
Here is a simpler test case that reproduces the problem:
[code]
The nodes and connections are still living after the pipeline deletion, thus `proc.in_files = ...` fires a notification in the connected plugs, here the pipeline node, whose pipeline is dead.
So we must ensure the nodes are actually destroyed.

[2022-01-26 14:35] brosscle commented on #58
Hi !
Oh I haven't seen this identification before, sorry !
Actually, I posted this issue 3 years ago as an improvement that from my point of view would benefit a lot to Populse. It was just about handling the BIDS structure because I was seeing that this architecture convention was going to take the lead in neuroimaging research studies.
Now I don't really work with Populse anymore, and I don't ha

[2022-01-27 16:54] servoz commented on #239
Great, @LStruber you've done exactly what we need!
I just added some minor changes to make the version change messages more explicit.
I think we can remove the star in the title (the patch looks good). I do it.
We can then close this ticket if we find a solution to allow a version change without restarting Mia or when the current work on the V2 controller will handle all the types we need.

[2022-01-28 10:11] servoz commented on #150
Indeed, the major (only ?) source of database conflicts was the possibility for the user to initialize a pipeline in a tab, and use the results of initialization (which do not exist on hard drive!) in another pipeline/tab.
Now (commit f1e29bf), only existing data is referenced into the database which avoid the use of non-existing files in a pipeline.

@LStruber , you are absolutely right and I bel

[2022-01-28 10:11] #150 closed

[2022-02-01 12:30] servoz opened #257 "[initialisation step] We should not be able to launch a calculation if there is nothing to calculate"
Currently if there is no pipeline in the editor, the run button is available and if you click on the run button, everything goes fine with even at the end the message `Pipeline execution was ok`!

[2022-02-01 12:40] servoz commented on #257
I don't remember exactly, but there was an effort made to have all crazy cases handled at the time of initialisation. The handling of this case seems to be gone.

I see two possibilities to handle this case:
- 1- the run button becomes available only if there is a pipeline/brick in the editor
- 2- the run button is always available but we test from the start of the initialisation if there is a pip

[2022-02-01 13:46] servoz commented on #236
@denisri, your proposal is very interesting, indeed. It goes even further than what we had imagined, since this proposal even allows to see the whole pipeline!

However:
  - 1- by taking as example the spatial_preprocessing_1 pipeline from mia_processes, by clicking on the bricks in the Bricks tag, we don't always see the same result (never the whole pipeline, some bricks are missing, sometimes ev

[2022-02-01 15:12] denisri commented on #236
I haven't looked closely, and the unreproducible result mentioned in point 1 especially is strange and needs to be fixed.
I want to point out, however, important things that will perhaps limit your expectations:
- We never store the full pipelines in the history, thus we simply cannot rebuild them fully. So in the current state of it, showing the whole pipeline is not possible. Moreover a data may

[2022-02-01 15:27] #257 closed

[2022-02-01 15:56] servoz commented on #236
When we first implemented the Bricks tag (collection) we had a very limited but concrete ambition (it's always a bit of problem between doing something great but that doesn't work or is never ready to work or something simpler but that works right away. I usually prefer the second solution).

The original idea was just to be able to go back to a data when we forgot how it was created (i.e. to have

[2022-02-01 16:42] denisri commented on #236
Here you have exactly what is kept in the history: all parameters are present (you can display them using the mouse tooltips or by opening the controllers GUI on nodes using the right mouse click). If we keep also the full process identifier (module/class) in the bricks history (I don't think this is the case right now) we can rebuilt working bricks and working pipelines able to rebuild the data f

[2022-02-02 10:02] LStruber commented on #236
I'm writing here my thoughts, to help me think about it. Comments are welcome :

1. What I'm doing in fix4#236 branch:
- When initializing a pipeline, I retrieve for each job (or process) its current history (by current I mean all previous bricks involved in the current pipeline, that is to be run)
- This history should be accurate since it is recursively built from the `workflow` object that list

[2022-02-02 10:56] servoz commented on #236
arg .... I just lost a very long answer I just made... at least 3/4h lost !!!!!! I will do again later ... arggg

[2022-02-08 11:36] servoz commented on #185
It take this ticket.

[2022-02-10 15:39] servoz commented on #185
I found a little time to come back on this ticket.
- playing around fsl config, no system environment variables defined:
   - Nothing defined in Mia preferences:
![Screenshot from 2022-02-10 15-30-15](https://user-images.githubusercontent.com/37933899/153428967-1df99ab7-ffc0-4973-93cf-0b0e265bcde9.png)

  - So nothing is defined in capsul config (good synchronisation):
![Screenshot from 2022-02-10

[2022-02-12 15:33] servoz commented on #185
It's fixed for FSL.
If I remember well (I haven't retested yet) there was also a problem with matlab /spm.
I'll have a look later, in two weeks.

[2022-02-28 14:52] servoz commented on #185
I start to see for Matlab/SPM.
Currently,

-1 if nothing is defined in Mia preferences,
![rien](https://user-images.githubusercontent.com/37933899/156001809-7d142a4e-7d9f-4d3c-b8dc-79b4be5c447e.png)
we observe in the GUI of capsul config:
![matlab_rien](https://user-images.githubusercontent.com/37933899/156000292-ca7e6219-10ab-40b6-aae8-fe2d94eeaadc.png)
![spm_rien](https://user-images.githubuserc

[2022-03-01 10:34] servoz commented on #185
In fact in capsul/study_config/config_modules/matlab_config.py, matlab_exec is defined as a File trait. So it is not possible actually to give here the path to the MCR (a Dir). So it is not possible to define the MCR path in the GUI of capsul config and it happens elsewhere in populse_mia, under the hood:

-> In populse_mia/software_properties.py (line 863):
[code]

As it is, it is not possible to

[2022-03-01 11:19] servoz commented on #185
Of course! This is exactly what we did in mia pref. There is a matlab_exec and a matlab_standalone.
I respect your point of view, but, concerning matlab, whether it is an executable or not it is a file for an executable or a path in case of an MCR. It is more or less the same for SPM. In the case of standalone it is a file and in the case of "normal" SPM it is a directory ...
What would be nice is

[2022-03-01 11:34] servoz commented on #185
For SPM we use in both cases the "directory" field, so it's ok for the file (.sh) or the directory (in fact we add the .sh, under the hood, to the directory. But for matlab as you want to keep the notion of "executable" it's less obvious (for me we need the directory for the matlab executable and like for spm we could add, under the hood). With this, a "directory" field is enough instead of the "e

[2022-03-01 12:52] denisri commented on #185
Why use the same field for matlab executable and the MCR ? If both can be used to run SPM, in a more general way it is not the same at all: you can run matlab alone, you can't run the MCR (I guess); one is a file, the other is a directory. Thus it seems simpler and clearer for me to use two config fields. However if you really want to, we can use the traits.Either type to allow a file or a directo

[2022-03-01 13:09] servoz commented on #185
I think that MCR can be used without spm standalone (for example if we want to use compiled matlab codes, I have to look into it as soon as possible because I have matlab codes that I want to use without access to the source codes). But this is not the question.
if it's possible to define both, it's ok for me. it's just that i don't see yet exactly how it will work to find it (for spm it's easy, y

[2022-03-01 13:15] servoz commented on #185
I don't think it's a good idea to remove matlab_mcr from mia pref. The idea is to be perfectly synchronised, that is to say to be able to define the same things in mia pref and capsul config .... and for the moment to define the MCR we are obliged to go through mia pref, capsul config does not allow it.

[2022-03-01 13:39] denisri commented on #185
Why not ? Why is it a good thing to duplicate config options ?

that's exactly why I ask if I should add it in capsul config.

The reason I insist is, in addition to not liking duplicating things, that, for me MIA GUI should be a graphical interface to run Capsul pipelines, which we should normally be able to run also outside of the GUI, typically to run them on a computing resource, from a script

[2022-03-01 13:48] servoz commented on #185
To tell the truth, if the GUI of capsul config works as well as mia pref, I have no problem to delete mia pref ... The actual problem goes beyond the synchronisation issue ... The problem is that capsul config doesn't work for the MCR. It's mandatory to use mia pref ... That's why we have unplugged the GUI of capsul config in mia pref in master actually ...

[2022-03-01 15:14] denisri commented on #185
I have added the matlab `mcr_directory` field in capsul config.

[2022-03-01 15:24] servoz commented on #185
Thanks @denisri ! I will see ASAP how to deal with ...

[2022-03-01 15:44] servoz commented on #185
it is still not synchronised and it is still necessary to go through the mia prefs to update the GUI capsul config and thus allow to launch a calculation with SPM standalone.
But now I "only" have to manage the synchronisation in both directions, in populse_mia.
I maintain that having both definitions possible at the same time (one can never prevent a user from putting both!) is a source of error!

[2022-03-01 16:21] denisri commented on #185
Hmmm... It is synchronized except that...
* there is a bug somewhere in the capsul config GUI:
if I edit Capsul config, set matlab mcr_directory, and... wait a couple of seconds before validating, then the new value gets in the MIA settings. But if I click "OK" quickly, then the value is not updated. So I guess it lacks a forced validation of capsul GUI. I have to look at it.
* the other way, if I

[2022-03-01 16:35] denisri commented on #185
The 1st way is fixed normally. The other way probably requires more work since it needs to take values in MIA config GUI, not in the config structure itself.

[2022-03-01 22:16] servoz commented on #185
it is not synchronised.
Maybe we are not talking about the same thing?
To me, synchronised means that we can edit the configuration in both directions. From mia pref to capsul config and from capsul config to mia pref. This is not the case for matlab/spm.
I will look into this as soon as possible (I have already done it for FSL, vide supra)

[2022-03-04 12:09] servoz commented on #185
I have a very hard time with this ticket. Most of the problems are mainly due to issue in the capsul config gui. I have started to plan some patches on a capsul branch. However, there are two things that if you had a solution, would save me from doing introspection in soma and capsul (which is interesting for the knowledge of the machinery, but is very time consuming !!!).

1- It is not possible t

[2022-03-04 14:04] denisri commented on #185
1. It's not very intuitive I admit, but to reset the value you have to type in the field the string `<undefined>`: emptying the edit line will just cancel edition and get back to the older value. The Controller GUI will be redesigned anyway.
2. You have removed yourself (commented out, to be exact) the line which performed the sync:
    https://github.com/populse/populse_mia/commit/381dd59f03d5d7c

[2022-03-04 14:24] servoz commented on #185
for -1 I had seen that <undefined> allowed a reset, but I was hoping for something more intuitive. Ok let's keep it that way, especially if the gui controller needs to be redesigned!
for -2 yes I know I commented on this, but it seemed to me that the problem came from well before (as described in the previous post) the set_capsul_config method of the populse_mia.software_properties module...
Ok I'

[2022-03-04 15:01] servoz commented on #185
Ok ... I'm sorry I was on something else and had already forgotten about the thread...

In fact for 2- the problem does not come from matlab but from spm (that's why I haven't uncommented `self.set_matlab_standalone_path(mcr_dir)` because before working on the synchronisation it is necessary that the data edited in the gui of capsul config are well available ....

Look  in my last post above I nev

[2022-03-04 15:19] servoz commented on #185
By the way, if I uncomment s`elf.set_matlab_standalone_path(mcr_dir)` it doesn't change anything on the result. This is not surprising because the edition of the spm parameters is not preserved...

[2022-03-07 07:02] servoz commented on #185
The good question is why we lost the edited spm standalone parameters ?

[2022-03-07 18:03] servoz commented on #185
Ok, I've already spent a lot of time on this ticket. I can't understand why the spm standalone values are not kept in the capsul config engine after a `Edit CASPUL config` in mia preferences. Fortunately, the equivalent on the mia preferences side works correctly. Since the `Edit CAPSUL config` button is no longer connected in the master branch of populse_mia, I think the best thing to do is to cl

[2022-03-08 11:57] #222 closed

[2022-03-08 13:29] servoz commented on #191
I will start working on this ticket. I think the purpose of this one goes far beyond removing the parts that are no longer used in V2. I'm changing the title of this ticket right away to the more general title "V2 Code Cleanup".

I think the goals of this ticket are:
- Remove the parts of code that are not used anymore.
- Remove commented code parts, when it is clearly not a comment that can be us

[2022-03-09 12:26] denisri commented on #185
I have done modifs to remove the use of the old study_config in this part, and to fix a number of issues in capsul/mia config sync. I continue to believe that Mia should take its config from capsul directly rather than duplicate everything in a different shape, because it's one of the (multiple) factors which make sync complex and "fragile", but I haven't worked on that side. In a general way, all

[2022-03-09 19:40] servoz commented on #185
Maybe you should be careful because if I didn't know you I would think that your last post is very arrogant...

Anyway, you must also understand that it is not possible to put things in Mia that do not work, or that will work one day ... Even if this thing, which does not work, is extremely important for you...

To say exactly and calmly what I think, I doubt we can go on like this for long. I can

[2022-03-10 08:55] denisri commented on #185
It does not crash for me. Maybe things have not be updated for all projects ?
Anyway Mia is in development, we have different setups and environments, there are bugs (and not only on my side, but yes, like everyone, I sometimes make mistakes), things sometimes have to be fixed, and we do it. Now saying "this does not work, I remove it", I'm not very found of it. We clearly don't have the same obje

[2022-03-10 09:11] servoz commented on #185
it is not impossible that this is the last thing we agree on.

[2022-03-10 09:58] servoz opened #258 "[general need] Mia loses the name of the brick in case of a calculation launch error (e.g. a pipeline without input parameters)"
The minimum steps to reproduce :
- Open Mia
- Open a project
- In the pipeline manager, drag and drop the SPM Smooth brick from mia_processes, into the editor
- Click on the "Run pipeline" button (this is an error as we have not yet defined the input parameters, but errors should be handled in Mia)
- A pop-up window opens indicating that a mandatory parameter for the pipeline is missing (note that

[2022-03-10 12:35] servoz commented on #236
I think we need to move forward on this, otherwise we risk losing the work and reflections that have already been done.
@LStruber can we schedule a meeting on this topic next week?

[2022-03-10 12:36] LStruber commented on #236
on Monday afternoon, at IRMaGe ?

[2022-03-10 12:43] servoz commented on #236
Perfect for me.

[2022-03-11 07:20] sapetnioc commented on #185
Don't you think it is time to have a meeting to talk about the future
direction of the project ? We worked a lot together with a good atmosphere
and mutual understanding. If this is no longer the case, we must find a
solution so that everyone can follow their objectives with serenity. Let's
not let an IT project completely ruin our human relations.

[2022-03-11 08:36] denisri commented on #185
We can talk, sure, for me I'm not angry.

[2022-03-11 09:46] servoz commented on #185
Planning a meeting is the best we can do at the moment, I think.

[2022-03-14 15:24] LStruber commented on #236
We just had the planned meeting with @servoz and here is what has been decided (HLD):
- in the bricks tag, we only display the last brick that created the file (as it is the case currently)
- when clicking on the brick (button) we display a fake pipeline (as @denisri created) that shows to the user the last pipeline that was used to create the file. This pipeline should be complete and accurate, t

[2022-03-14 15:57] denisri commented on #236
Yes, this was due to temporary files management:
When two bricks are linked inside a pipeline, but the output of the first one is not exported to the main pipeline outputs, and no value is assigned to it, then the workflow execution considers it is a _temporary intermediate file_. It is **removed after execution** (unless told otherwise, for debugging purpose typically). Such temporary files are n

[2022-03-14 17:13] LStruber opened #259 "[Run step] Run and garbage collect buttons should be disabled when a pipeline is running"
Currently, when a pipeline is running, Run button and Garbage collect button are enabled.

1. Regarding run button ![image](https://user-images.githubusercontent.com/86590799/158206340-354ffe79-341e-4904-9bde-be4f20f61108.png)
If I click again on run button, the pipeline is re-run and two concurrent run instances are launched (with two progress bar, see image below). Moreover, at the end of the se

[2022-03-14 17:49] denisri commented on #259
Yes, perfectly true. The run button used to be disabled during run, and I think its disabling has disapeared when the "init" step was merged into the "run" step - f1e29bfd7a233aa9d4756c599e2dbb2b04a03d86 if I'm correct. For the garbage collect, I don't remember but it's possible it has never been disabled. However its disabling should be the same as for the run button.
I guess one day we might wan

[2022-03-15 14:39] LStruber commented on #236
I started to connect fake pipeline view of @denisri and my changes in brick tag (appending all pipeline history) in a new branch (fix4#236_new), and it seems to start working. I explain:
When a pipeline is running you can see the complete pipeline by clicking on the brick tag in the data browser. I have tested it with spatial_preprocessing pipeline and it seems to work every time (see image below)

[2022-03-15 15:48] servoz commented on #185
If we have defined a configuration for spm and spm standalone:
In software.properties.get_capsul_config() we pass through (l311 with_capsul_config branch):
[code]

but  spmconf is not defined and raise exception:

[code]

[2022-03-15 15:54] servoz commented on #185
I guess it is a typo and we can change by?:
[code]

[2022-03-15 17:02] servoz commented on #185
I had rather gone on the #191  ticket (which is long and tedious because it is about code cleaning ...). I'll come back to this ticket (#185) very quickly to try to understand what's wrong (tomorrow is already quite busy, but it's a priority for me). We'll keep in touch !

[2022-03-15 17:10] denisri commented on #236
I'm trying our "morphologist" pipeline, which contains several sub-pipelines, switches, about 60 nodes, 33 jobs in an actual workflow once configured, contains temporary files (mainly formats conversions), and files being re-written twice (2 steps of normalization, the second refines the first). I'm trying without iteration at first.
During execution, the history graphs are wrong, I guess because

[2022-03-15 18:55] denisri commented on #185
Well I don't have the same, and I don't know what's different.
All projects updated and on the same branches as you show.
When I erase the config files (`properties/config.yml` especially) and start populse_mia, **I don't have the message**:
[code]
When I erase `process_config.yml` I have a very long log because all processes are re-scanned, and it should not matter here. When I only erase `config

[2022-03-15 19:33] servoz commented on #185
Ok, thanks for your comments! !!! This is a crazy story!!!!
 I'll take a look at it and try to figure out what's wrong ASAP (maybe tomorrow, but I already have a busy day, Thursday at the latest!)

[2022-03-15 20:43] LStruber commented on #236
Thank you for your test !
There is indeed a problem in the recreation of your normalize pipeline, certainly due to the fact that I was looking for links between inputs and outputs in all pipeline bricks. I tried to correct it in commit e32c9c720554ed9e7c5aa5fa5409fe13f22b4e01 (looking only in previous bricks when creating links). Could you retest your pipeline after this commit ?

Regarding your l

[2022-03-16 06:14] servoz commented on #185
Um, it seems , in your case, that mia doesn't start in developer mode, I think because populse_mia is in /casa/host/src/populse/populse_mia/master.
If this is the case, I will have to adapt main.py to handle this case which I had not thought of.
To be sure that it is indeed that (I do not see what else it could be, a priori, since we delete the config file and have populse up to date and on the sa

[2022-03-16 08:36] denisri commented on #236
It's far better. Still not perfect, but significantly better. During execution, I can see graphs like this:
![Screenshot_20220316_090442](https://user-images.githubusercontent.com/1913468/158545273-0369b3d9-ee3d-46dc-9c1c-8b982043a6b8.jpg)
which is in a large part correct,j except for the "disabled" part here:
![Screenshot_20220316_090556](https://user-images.githubusercontent.com/1913468/15854540

[2022-03-16 08:37] servoz commented on #236
Sure! I will do the tests ASAP. For now I stay focused on #185 ticket, to understand quickly why we don't observe the same behaviour between @denisri  and I. But I will come back to this ticket (#236) very soon (before the end of the week!)

[2022-03-16 08:50] denisri commented on #236
The real graph for this data should rather look like:
![Screenshot_20220316_094304](https://user-images.githubusercontent.com/1913468/158551057-92903952-4219-4e47-853a-ce42d45da310.jpg)
which was correct in my old branch `fix4#236_dr` that I still have locally (but it's not on the github server, it seems to have been deleted). I have pushed it again on my fork `denisri/populse_mia/fix4#236_dr` in

[2022-03-16 09:05] LStruber commented on #236
Thanks for the branch. I see what's the problem with my branch, however I don't see for now how to fix it without disambiguate things with execution times as you've done in your branch, and it is precisely what I'm trying to avoid because it seems that "sometimes" it does not works. By sometimes I mean that with your solution (based on testing we've done with @servoz few days ago on master branch)

[2022-03-16 10:26] denisri commented on #185
OK, I just pushed a fix. The problem was actually in `main.py`: it detects a few hard-coded paths for the different projects, sets up `sys.path`, and stores a CapsulEngine python config for these paths. The config dict was missing a dictionary level (actually I have added a level to store several configs as it is allowed in Capsul for instance to store several SPM configs, which is actually used).

[2022-03-16 10:30] denisri commented on #185
And now it fails using the non-dev mode :/

[2022-03-16 10:30] servoz commented on #185
I'm also looking at the main module (but not for long, I have numerous meetings all afternoon, I'll start again tomorrow morning) and I think it's necessary to clean up the DEV and USER parts of this module which I think are no more really adapted with capsul engine (even more so if we remove study_config, as we are doing now).

In a nutshell (if I remember correctly, because it's been a while sin

[2022-03-16 10:40] servoz commented on #185
It's true that I like working in a development folder, but maybe it's just a habit... Let's give it some time (let's say until tomorrow night, because I'll have to stop for today and start again tomorrow) and if it seems too difficult, I'll put populse_mia and mia_processes in casa_distro and in that case there won't really be any need for dev mode ... (in this case I might not be the only one to

[2022-03-16 10:46] denisri commented on #185
Ah OK I had not erased the config file after switching branches, thus an incompatible config was loaded. I will try to make it clearer and non-fatal.

[2022-03-16 10:59] denisri commented on #185
If it's just a matter of detecting paths, no need to change. But maybe we don't need to store them permanently in the config file, since they are detected again the next time we run `main.py` anyway.

[2022-03-16 11:00] denisri commented on #185
I'll open another ticket for data, since it's not related.

[2022-03-16 11:11] denisri opened #260 "[general need] Move data in a separate github repository"
The populse_mia project on github contains a few MB of code, and about 1GB of test / demo data, which grows more than twice when cloning the repository, thus a populse_mia clone is about 2.5 GB, which is too much, and slows down some tests which involve cloning a new repos.
I think we should move away the data in a separate repository, maybe "mia_data", or "populse_mia_data", or "mia_test_data"...

[2022-03-16 11:13] denisri commented on #185
see #260.

[2022-03-16 15:39] LStruber commented on #236
I tried something to disambiguate things when several inputs/outputs have the same name: saving in the database (as a hidden list), the level of dependency of each brick in the workflow (a list of int, 1 meaning direct dependency, 2 meaning there is one brick between etc.). Then I check links between input of a brick and output of previous bricks by checking they have the same name, and if there a

[2022-03-16 16:44] denisri commented on #260
I tried git-filter-repo (https://github.com/newren/git-filter-repo/) which allows to filter full repositories and write to a new one.
For instance I tried, from a new directory:
[code]
This creates two new repositories in local directories `populse_mia_filtered` and `populse_data`. The first one contains the code, with files and history from `data_tests`, `resources` and `MRIFileManager` removed (

[2022-03-16 17:32] denisri commented on #236
Well, it's still better but still not exact... :)
![Screenshot_20220316_182632](https://user-images.githubusercontent.com/1913468/158651156-d35bc902-aa18-48c3-b2e1-a8c2a266ca62.jpg)
There are still disabled bricks and missing / wrong links (compare to the "good" graph earlier).
And now it takes about 30 seconds of calculation before showing the history graph, where there was no delay earlier.
Sorr

[2022-03-16 20:05] LStruber commented on #236
This time I'm not sure to understand what makes it not work... Either I made a mistake somewhere (not unlikely), or the "level of dependency" between bricks I added is not enough to cover all cases (also not unlikely :))

Anyway, in view of the 30 sec of calculation, the answer is not very important since it excludes the solution... This delay is due to the fact that to disambiguate things I need

[2022-03-16 20:12] LStruber commented on #236
What do you think ?
I can try to propose something with pickle:
1. Save pipeline on disk at the time of initialisation
2. Add a string tag in the database which contains the path of the pipeline file for all files that the pipeline created
3. Reload this file when clicking on the brick button
4. Use the pipeline view of @denisri to recreate a part of the pipeline (from the beginnin up to the file)

[2022-03-17 09:05] denisri commented on #236
I haven't thought about it yet, but just want to note that the pickle format is not suitable for long-term storage. It is good for temporary files, but not more: the pickle format (or sub-formats) evolves, is not compatible across different versions of python (it's impossible to write a pickle in python2 and read it in python3 or vice versa, in real life, even if it is documented to be possible),

[2022-03-17 10:11] denisri commented on #236
Maybe it would be useful for testing purposes to have a fake Morphologist pipeline, with the same nodes and parameters as the "real" one, and its completion system, but with execution part of each process replaced with fake things (basically a kind of generic function which, for instance, sleeps a given time, and writes outputs files as text file with fake things such as one line containing the na

[2022-03-17 10:30] servoz commented on #185
Currently we observe in stdout (dev mode; populse in a personal folder, start from python main.py):
[code]
[I propose this very little change.](https://github.com/populse/capsul/pull/218)

[2022-03-17 10:36] servoz commented on #236
Yes, it would be a good thing to have a complex shared use case.
For the tests requested by @LStruber , I don't think I have at hand a more complex pipeline than the one proposed by @denisri . I'll do some tests as soon as possible, but I think that @denisri  one is really a good example to do some tests.

[2022-03-17 10:57] denisri commented on #185
Yes sorry I did the same change on my side but apparently forgot to commit/push it (because I have several works on the way at the same time). Thanks !

[2022-03-17 11:46] servoz commented on #185
no problem, I didn't do much!

[2022-03-21 13:44] servoz commented on #236
No problem, it takes time to do things!

By the way, it's a very good thing what you are doing because Mia should make it easy to share pipelines. This is the opportunity to make a real case to test the construction/code of the pipeline and the use of the pipeline integration in Mia (as a reminder, there is a function in Mia for this last point:)
![process](https://user-images.githubusercontent.co

[2022-03-21 17:57] servoz commented on #185
Currently, if no configuration exists for spm, the capsul engine GUI defaults to the standalone checkbox and uses version 12.

I think, by default the standalone box should not be checked and the version should be undefined if the module configuration is not known.

If it doesn't contradict something I wouldn't see, [I propose this little PR ](https://github.com/populse/capsul/pull/219)along this

[2022-03-22 09:18] denisri commented on #185
Not having the standalone version by default assumes a much more expensive dependency (matlab) by default, but I don't really mind: the user just has to configure it. For the version OK for me, I just wonder if it will leave an additional config with an "no-version" ID, but it's probably not very important.

[2022-03-23 11:15] servoz commented on #185
The capsul config settings validation  is protected by a `try` for [matlab parameters](https://github.com/populse/capsul/blob/master/capsul/engine/module/matlab.py#L48), which is [not the case for spm](https://github.com/populse/capsul/blob/master/capsul/engine/module/spm.py#L168).

For matlab it looks more like a "try of development" to allow not to crash but to have access to the traceback in ca

[2022-03-23 13:12] denisri commented on #185
if I remember, the `try`.. `except` was because the `validate_config()` function is called within a GUI callback, and an exception raised here and not catched ends up with the whole application aborting. I don't remember if the try could be put somewhere else in a higher level function, still inside the GUI callback, but it certainly has to exist somewhere. The traceback print is mainly for debug

[2022-03-23 13:35] servoz commented on #185
Sure, I totally agree!

That's why I propose to remove this `try` (which exists only for the matlab module, currently) and protect the validation for all modules at a higher level; in capsul.qt_gui.widgets.settings_editors.SettingsEditor.accept().
I made this change, and others in the capsul [GUI_editCapsul branch](https://github.com/populse/capsul/commits/GUI_editCapsul).
I will make a PR from th

[2022-03-23 16:08] servoz commented on #185
I'm coming to the part of the work on synchronisation from capsul config to mia pref.

We recently added a new parameter in capsul config to differentiate between the executable (executable parameter) and the MCR directory (mcr_directory parameter).

This is a very good thing to be as close to reality as possible.

However, [as I said](https://github.com/populse/populse_mia/issues/185#issuecomment

[2022-03-24 16:18] servoz commented on #185
After many headaches, and a lot of work, I think we're coming to the end of the processing of this ticket.

It remains to be tested if it really works properly.
It took me quite a while to figure out what was wrong, often the result was not easily understandable because of the machinery (which in my opinion is not completely finished) to set up the capsul config. I won't go into details, but this

[2022-03-25 10:19] servoz opened #261 "[initialisation step] No more initialisation (and thus calculation launch) seems to work in mia!"
Minimum process to reproduce :

- Nipype:
  - Open a project with at least one anat in the DataBrowser
  - Drag and drop the Smooth process into PipelineManager editor (nipype > interfaces > spm)
  - Right click on the smooth_1 brick and choose `Export all unconnected plugs`
  - Hit the inputs brick then on the filter button of the in_files parameter
  - Select a data
  - Run the pipeline
  -  The

[2022-03-25 10:34] denisri commented on #185
I did not get time to test yesterday, I was very busy with other matters. I'm trying now, and I still see some little glitches (on master branch, now):
- remove config.yaml
- run python3 -m populse_mia
- open preferences
- check "Use matlab standalone"
- enter a path for the MCR dir, like `/host/usr/local/spm12-standalone/mcr/v713`
- validate by pressing "OK"
- re-open the preferences
-> the "use

[2022-03-25 11:04] servoz commented on #185
No problem @denisri , we do what we can during the days that are unfortunately only 24 hours long!
I am reopening this ticket.

I'll look at what you say as soon as I have some time (I'm very busy at the moment with - among other things - unit tests are currently in fall - calculations in Mia seem to be not working at all ... :-(((().

I merged with master because, _a priori_, there are no more cr

[2022-03-25 15:49] servoz commented on #261
Initial investigation seems to indicate that the issue is related to the workflow object and the [part of code in the pipeline_manager_tab module around L1599](https://github.com/populse/populse_mia/blob/master/python/populse_mia/user_interface/pipeline_manager/pipeline_manager_tab.py#L1599).
The job.param_dict in self.workflow.jobs seems to not have the output file(s) generated by the process...

[2022-03-25 16:33] servoz commented on #261
In capsul.pipeline.pipeline_workflow module, workflow_from_pipeline function, [build_job funtion() L353](https://github.com/populse/capsul/blob/master/capsul/pipeline/pipeline_workflow.py#L353) I observe that value is \<undefined\> (for the smoothed_files parameter in the Smooth from mia_processes example). It seems param_dict is populated only [with no undefined parameter](https://github.com/popu

[2022-03-25 17:21] servoz commented on #261
For Smooth from nipype, it is not the same issue. Indeed, with nipype, the outputs are automatically determined when the input data is/are defined, so there is no completion problem like for the Smooth process from mia_processes. Here it is the output_directory that is not set.

Many changes have been made in the init_pipeline() method (populse_mia.user_interface.pipeline_manager.PipelineManagerTa

[2022-03-25 17:33] servoz commented on #185
Sorry, I've been busy all day with other problems...
I have just tested and reproduced what you have noted!
Having worked a bit on this part, I think I know the corresponding code and it might be more efficient if I look at this.
I'll look into it early next week.

[2022-03-25 18:43] denisri commented on #261
Does this mean that completion is not played any longer ?
It was doing it before, so something has been broken somewhere. I have not looked at the code since the init step has been merged with the run step...

[2022-03-26 07:34] servoz commented on #261
Yes, it seems so.
If I remember correctly, the calculations worked after gathering the initialisation and execution. I think this would come from the workflow work?

[2022-03-28 05:35] LStruber commented on #261
The initialization has indeed been changed to use workflow object from capsul and to be merged into the run step, but it had been tested (with Smooth and SpatialPreprocessing bricks from mia_processes) and it was working after this work... I don't know what changed after that, I'll check a bit on what's going in here...

[2022-03-28 05:47] servoz commented on #261
Oh, in that case it would be better to test the previous commits and see when it stops working. I'm working on the #191 ticket, I hope I didn't do anything wrong while cleaning the modules...

[2022-03-28 06:01] LStruber commented on #261
I tried to run the smooth process on my machine (with same procedure as @servoz ), and it's working smoothly (if I may say so...). Here is my current status:

[code]

[code]

[code]

[code]

[2022-03-28 06:04] LStruber commented on #261
[code]

[2022-03-28 06:10] LStruber commented on #261
Whoops, I may have looked at the wrong path ! I just launched a bv_maker, my capsul package was not up-to-date. I'll retest at the end of the bv_maker:

[code]

[2022-03-28 06:17] LStruber commented on #261
The smooth process is still working here after the bv_maker (and all went good). I tried both (from mia_processes and directly from nypipe)

[2022-03-28 06:25] LStruber commented on #261
Hmmm sorry for the multiple comments, but populse_mia was not up to date either... I don't know why git reported an "up-to-date" status in the mia folder.
I was 5 commits late on mia, and now I pulled these commits, I can't launch mia anymore which close immediately with following exception:
[code]

Do I need to update/remove my configuration cause of recent commits ?

[2022-03-28 08:44] denisri commented on #261
@LStruber, it seems that capsul is not up-to-date for you either. It's strange that `bv_maker` hasn't updated several projects. Do you have a single clone of the repository, managed by `bv_maker` ?

[2022-03-28 08:46] denisri commented on #261
(and are you actually on the master branch in your capsul sources ?)

[2022-03-28 08:47] servoz commented on #261
I was not on casa distro.
I just tested in casa_distro with everything up to date and I observe exactly the same things as on my first post.

[code]
is strange. ... [export_config_dict is indeed a method of Settings objects](https://github.com/populse/capsul/blob/master/capsul/engine/settings.py#L213) ...

Are you sure everything is up to date? (especially capsul)

[2022-03-28 08:52] servoz commented on #185
I know this part well so I'll take this ticket again (again, again :-))). I'll take a beer when we can finally close it !!!!
A quick look at the codes didn't let me see the error (I was hoping for a big easy to see inconsistency).
So I'll look at it a bit more in detail...

[2022-03-28 08:56] servoz commented on #261
`@LStruber, it seems that capsul is not up-to-date for you either. It's strange that bv_maker hasn't updated several projects. Do you have a single clone of the repository, managed by bv_maker ?`

@Lucas, if you have a capsul clone in the same directory as populse_mia, this one takes precedence over the capsul of casa_distro

[2022-03-28 08:57] LStruber commented on #261
Indeed. forgot to delete it... sorry

[2022-03-28 08:58] denisri commented on #261
Anyway I confirm that initialization is not workin any longer. Same as you @servoz . I'll have a look too, it could be one of my modifs which made it break (?)...

[2022-03-28 09:03] LStruber commented on #261
At least what my wanderings told us is that it was working with mia 5 commits behind and capsul also not up to date

[2022-03-28 09:05] servoz commented on #261
There are several priorities to manage.
I prefer to stay on the ticket, if possible, (the configuration should work, especially since I merged with master, sorry I shouldn't have!!!).
The easiest way would be to look at which commit it's not working anymore and trace it back to the issue?

[2022-03-28 09:07] servoz commented on #261
**Edi**t *I prefer to stay on the #185  ticket,

[2022-03-28 09:20] denisri commented on #261
It might be related to #185 actually: I suspect that the completion config in capsul is not correctly setup as it should, thus Mia completion is not called. I'm looking at it.

[2022-03-28 09:48] servoz commented on #185
I found out where the issue was for the beginning of your report, Denis. I done a commit for this.
I continue to look at the other points you reported in your tests ...

[2022-03-28 10:13] servoz commented on #185
remove config.yaml
    run python3 -m populse_mia
    open preferences
    check "Use matlab standalone"
    enter a path for the MCR dir, like /host/usr/local/spm12-standalone/mcr/v713
    validate by pressing "OK"
    re-open the preferences
    -> the "use matlab standalone" option is not checked any longer. The path is kept but it in disabled.
If I also check "use SPM standalone" and enter a p

[2022-03-28 10:33] denisri commented on #261
I think I get it: a part of internal notification in capsul engine/studyconfig sync was broken (one erased the notification setup by the other), so some internal factories were not updated, and thus were not looking for the MIA completion additions. I'm fixing that right now.

[2022-03-28 10:43] servoz commented on #185
Now I edit the Capsul config, and check the tabs: in "matlab", only the "executable" path is filled, the "mcr_directory" is undefined. Similarly in the SPM config, the directory we have entered for the standalone SPM is not here.
If I enter a path for malab MCR and validate, it does not get into Mia config. It is not possible to "force" the use matlab MCR from Capsul config. And thus it is not pos

[2022-03-28 10:49] denisri commented on #261
Things are working now for me. Can you check this on your side please ?

[2022-03-28 10:52] servoz commented on #261
@denisri, Great it works on my side too !!!
We close the ticket (I love it when a ticket is closed!)?

[2022-03-28 11:52] denisri commented on #261
If it's OK for you, yes...

[2022-03-28 11:54] LStruber commented on #261
For what it's worth, it's ok for me. (I didn't test when it wasn't working)

[2022-03-28 12:04] servoz commented on #261
gloup, gloup ...

[2022-03-28 12:04] #261 closed

[2022-03-28 12:40] LStruber commented on #236
I think we all agree that it is necessary to save the pipeline or workflow object in the database to cover all cases (json format). To start investigating/coding in this direction we need to make some decisions:
- Do we store a string link to the json in the database or do we wait for populse_db v3 that seems to allow saving a json directly ?
- Do we want the pipeline to appear in the database (as

[2022-03-28 13:00] denisri commented on #236
[code]

I don't have definitive answers for the other questions. I guess if we store workflows or pipelines in the database, it will be a good idea to have a means to see them somewhere (at least for debugging) ?
We can have a meeting if it's useful, yes.

[2022-03-28 15:06] denisri commented on #185
I'm fixing a problem for our morphologist pipeline: I need to fix SPM version variables which are "lost" in duplicated Capsul configs, we need it to correctly use it. It will imply a slight modif in populse_mia (select between existing capsul configs, when some exist). I'm pushing this soon.
But you can close the ticket.

[2022-03-28 15:10] servoz commented on #185
After having tested as best as possible, it seems to me that there is only one problem left. The version of matlab is not kept.
For example, if we start from a missing (deleted) configuration file, if we define the matlab and spm executable and the spm version in capsul config (nothing is defined before in mia pref), after coming back to mia pref we find matlab and spm, but if we click again on Ed

[2022-03-28 15:10] #185 closed

[2022-03-28 15:23] denisri commented on #185
I have pushed modifs in capsul and populse_mia which fixes the problem for morphologist. Normally the cpasul settings editor now displays all configs. It's still to be improved but it allows to do the job, at least.

[2022-03-28 15:34] servoz commented on #185
OK thanks !

[2022-03-28 16:06] servoz commented on #185
Just tested! This is very nice.

Just one thing:
Is it possible to protect by a try the tab.accept() in SettingsEditor.accept() ?

I had protected it to avoid crashing Mia if a bad parameter is entered (typo, etc ...).

For example in caspul config, put an error in the spm path, then do ok -> Mia crash.

Then if we change by:
[code]
by doing the typo, it doesn't crash anymore and a small message a

[2022-03-29 07:39] LStruber commented on #185
@servoz synchronization seems to work in both ways for AFNI and ANTS. I also added an AFNI example path in the MIA config window, but not for ANTS since ANTS puts all files in one big folder, that you choose in installation.

[2022-03-29 08:19] servoz commented on #185
OK, thank you @LStruber !

[2022-03-29 08:22] denisri commented on #185
yes, sure. I'm doing it.

[2022-03-29 08:26] denisri commented on #185
done.

[2022-03-29 08:28] servoz commented on #185
Thanks @denisri  !

[2022-03-29 13:54] LStruber opened #262 "[general need] Display the history of a file"
In the main database, instead of having a brick tag gives information about the (last) brick that created the file, it would be nice to be able to retrace a more complete history of the file by having a view of the pipeline which created the file (from pipeline inputs) (see discussion in #236).

To do that, we should replace the bricks tag button by a history button that will open a new window, wh

[2022-03-29 14:12] servoz commented on #262
For me, this is a good idea.
In the pipeline, as @denisri  did, it is possible to have access to all the parameters of a brick/node by clicking on it and editing the controller (right click on the brick, open node controller).
Adding at the bottom (for example) all the parameters of the brick (but not only because there would also be information on the initialisation and execution) is a very inter

[2022-03-29 14:17] LStruber opened #263 "[general need] Save pipeline/history information in the database"
In order to keep and be able to show history of files present in the main database (see #262), we need to save pipeline information in the database (indeed, brick tag is not enough alone to retrieve all information of the history, cf. discussion in #236).

In order to do that, we need to create a new collection (at least), let's say COLLECTION_HISTORY, that will contains this information. This col

[2022-03-29 14:20] LStruber commented on #236
closed with #262 and #263

[2022-03-29 14:20] #236 closed

[2022-03-29 14:50] sapetnioc commented on #263
Each history document is related to the execution of a `Process` instance. We decided to save the process instance. It means saving the `Process` as well as its parameters. We also need to be able to know what are the nodes that have actually been executed. Finally, there is a technical need to be able to quickly find the links between an input (or output) file name and an history document identif

[2022-03-29 14:58] LStruber commented on #263
If we have all uuid of bricks document contained in the process, isn't that enough ? Each brick document contain:
- Name
- Init (done or not done)
- Init time
- Exec (not or not done)
- Exec time
- All inputs of the brick (files or parameters)
- All outputs of the brick

[2022-03-29 14:59] LStruber commented on #263
@servoz I feel like it indeed would be easier

[2022-03-29 15:06] LStruber commented on #262
Yes, I pushed a modification in this direction into master.
Next steps:
- highlight the last brick that created the pipeline
- if another brick is clicked, highlight it and update brick information at the bottom
- display the whole pipeline (need to work on #263 before)

In my opinion keeping the name of the last brick as the button name to click to show history is preferable than having a button

[2022-03-30 07:38] sapetnioc commented on #263
I do not really know the existing tables therefore I am thinking as if history collection was self content. But since we decided to allow to change the internal structure in future release, I think hat for now the priority is on usage (such as GUI) rather than internal storage and API. Therefore, if you already have necessary information somewhere why not using it.

However, the next big step will

[2022-03-30 08:07] LStruber commented on #262
Yes

I also noticed it, and to close the node controller window, you have to close the history window. I don't know why it happens this way since the node controller is directly handled by the pipelinedeveloperview object. I think we'll need to dig a bit into this view to make it appear in the foreground. Maybe @denisri has an idea on this point ?

I do not understand this question, what does moda

[2022-03-30 08:13] denisri commented on #262
Modal means that the window is a kind of popup dialog, which stays at the top level, and normally disables all other windows during its edition, thus is is blocking the rest of the app. It is meant for local (short time) questions asked to the user, where the answer is needed before going further. It is not suitable for a window that stays visible while the rest of the application should continue

[2022-03-30 08:15] LStruber commented on #263
Ok. So for now I will create a new collection history that contains:
- uuid (str): identifier of the history document.
- process (str): XML representation of the process
- brick_list (list[str]): list of bricks uuid

I think that will be enough to display history as we discussed, and we'll think on how to merge/change both collections for v3 after.

[2022-03-30 08:15] LStruber commented on #262
Thank you for the explanation and sorry for the missing vocabulary !

[2022-03-30 08:33] servoz commented on #263
It is true that we have chosen, in Mia, different names for quite similar concepts.

Tell me if I am wrong but I think that in Capsul a process is an atomic element of computation (a unit operation, for example a Smooth), a class, and a node is the graphical representation of this process (a graphical box representing this process).

In Mia we choseen the term brick for this graphical representati

[2022-03-30 08:44] servoz commented on #262
ahem ... if we are non-modal, it will mean that the user can go back to the DataBrowser and open another history for another data at the same time ... Why not, let's start with non-modal and see what it looks like in use.

[2022-03-30 08:46] sapetnioc commented on #263
If browsing the graph that links file names and history document is often use, I would recommend to find a way to quickly associate a file name with a history document uuid. In populse_db v2, there is no database join nor index on elements that are not directly stored in a field (i.e. elements in list or dict). For instance, given a file name, finding the history uuid that created it will require

[2022-03-30 08:54] servoz commented on #263
I understood your explanation. But I don't know how to choose between a collection with a boulean and two collections. For efficiency, speed, what do you recommend?

[2022-03-30 09:21] LStruber commented on #263
Of course we do not want to iterate over all bricks to find the history uuid. To be clear, for now we have the collection of documents COLLECTION_CURRENT that have a BRICK_TAG which contains the uuid of the last brick that created the file (empty for raw data)

What I'm currently doing is to create a COLLECTION_HISTORY that contains the pipeline xml string and the list of all bricks uuid used in t

[2022-03-30 09:46] servoz commented on #263
Ok so we only need one collection (COLLECTION_HISTORY, in place of COLLECTION_BRICK) and a tag in COLLECTION_CURRENT (the HISTORY_TAG), isn't it ?

[2022-03-30 09:47] denisri commented on #262
We may have several history windows open at the same time, why not after all if the user wants to compare several histories. Otherwise we can decide to reuse (or close/reopen) the same window when the user clicks on the history button of another data, without it being modal.
Modal dialogs should preferably be reserved to short time, temporary dialogs, or at least dialogs where the result is expect

[2022-03-30 09:47] LStruber commented on #263
I kept the COLLECTION_BRICK just to fastly retrieve the last brick that created a file, but it is indeed questionable

[2022-03-30 09:58] LStruber commented on #263
In order to (de)serialize a pipeline into an xml string, I suppose I'll have to use functions in `capsul.pipeline.xml`. However these functions seems to (de)serialize pipelines directly into files and do not allow to retrieve the string. Should I divide these function to allow the possibility to retrieve the string without saving it into a file ? Or there is another way ?

[2022-03-30 10:17] servoz commented on #262
Modal dialogs should preferably be reserved to short time, temporary dialogs, or at least dialogs where the result is expected and needed to continue another operation, or to prevent concurrent modification of the data they display (like preferences). Otherwise modal dialogs have several drawbacks: they stay on top of the widget stack, thus we cannot easily see other widgets underneath, and if we

[2022-03-30 11:22] denisri commented on #263
We'll modify them to work on file-like objects as well. I'll do that.

[2022-03-30 12:32] denisri commented on #263
Yo should now be able to do:
[code]
Note that the xml format (based on `xml.etree`) seems to only work with byte buffers (`BytesIO`) while the python formats allows unicode buffers (`StringIO`), at least in pyhon3.

[2022-03-30 12:57] LStruber commented on #263
Thank you. And how to deserialize pipeline from the string ?

[2022-03-30 14:49] denisri commented on #263
I'm also modifying get_process_instance(), I'll tell you.

[2022-03-30 14:50] denisri commented on #263
ah crap. it's an unexpected type in the xml save code. A bug. I need to look at it.

[2022-03-30 15:29] denisri commented on #263
can you try again please ?

[2022-03-31 06:18] LStruber commented on #263
It's better, no error in the conversion. However I can't put the result in a 'FIELD_TYPE_STRING' into the database, and the FIELD_TYPE_BYTES does not exists. I'll work on fixing that:
[code]

[2022-03-31 06:24] LStruber commented on #263
I made it works by decoding the bytes array into an utf-8 string:
[code]
but as it necessary to specifiy the coding (that may change ?), I'm not sure this is a good idea. What do you think ?

[2022-03-31 07:49] sapetnioc commented on #263
It would be better to direclty get a `str/unicode` rather than a `byte` when converting the pipeline in XML. Doesn't the `save_pipeline()` support using a `io.StringIO` instead of `io.BytesIO` ? If not, we could add a `save_pipeline_string` method that would do the encoding.

But since we plan to go to 3.0 where pipelines are serialized in JSON (JSON is always in UTF-8), it is really safe to assum

[2022-03-31 07:57] sapetnioc commented on #263
@servoz for the question about one or two collections, I do not clearly foresee the impact of the decision on performances. Therefore, I propose to choose the simplest solution: one collection. When creating this collection fields, do not forget to add an index on `path` and `uuid` (using `create_field('path', 'string', index=True)`) this will speed-up graph browsing.

[2022-03-31 08:28] LStruber commented on #263
@sapetnioc I think that @denisri answered to your question yesterday:

[2022-03-31 08:55] denisri commented on #263
Yes that's it: `xml.etree` doesn't seem to accept sting/unicode buffers. But as @LStruber said it's just a matter of decoding the bytes buffer into a unicode string. We can consider doing it inside the functions to load/save XML buffers, it's probably possible.

[2022-03-31 11:28] servoz commented on #263
OK !

[2022-04-05 06:50] LStruber commented on #263
@denisri, when calling `create_xml_pipeline(module, name, xml_file)` from a xml_string, I'm not sure how to specify (and also what is stand for ?) the `module` parameter, could you tell me a bit about it ?

[2022-04-05 06:57] LStruber commented on #263
Note that if I set `module` to `None` `create_xml_pipeline` fails with following error:
[code]

I'm not sure if it is related or not

[2022-04-05 07:00] denisri commented on #263
As far as I remember, the module is the name of the module where the pipeline class will be inserted in.

The ValueError seems to be something else (QPointF.x instead of QPointF.x() I guess) - I'll fix that.

[2022-04-05 07:01] denisri commented on #263
Can you can try again please ?

[2022-04-05 07:03] LStruber commented on #263
It changes the error but not the line:
[code]

[2022-04-05 07:07] denisri commented on #263
I'll try it better but it will have to wait for an hour or so...

[2022-04-05 07:27] LStruber commented on #263
No problem, tell me when !

What do you mean by "inserted in" ? For example, if a create the pipeline from the xml_string in the `pop_ups.py` module, and then I add it to a `PipelineDeveloperView` as follows:
`self.pipeline_view = PipelineDeveloperView(pipeline, allow_open_controller=True)`
Which will be the module name ?

[2022-04-05 09:10] denisri commented on #263
Actually we normally don't use directly the function `create_xml_pipeline()`, it is called from within `get_process_instance()`:
[code]
and `None` seems valid for the `module` param, since it is called this way from `get_process_instance`.

[2022-04-05 09:14] LStruber commented on #263
Thanks

I did not find where it is used with None value as `module` param, I found None only for the `name` param but ok

[2022-04-05 09:17] LStruber commented on #263
It is now working, I can deserialize the pipeline from the xml_string, however after adding it a PipelineDeveloperView, I cannot open the node_controller:
[code]

[2022-04-05 09:21] denisri commented on #263
Ow, that's "funny"... Can I have an example of your XML pipeline ?

[2022-04-05 09:23] LStruber commented on #263
`<pipeline capsul_xml="2.0" name="CustomPipeline"><doc /><process module="mia_processes.bricks.preprocess.spm.spatial_preprocessing.Smooth" name="smooth_1"><set name="in_files" value="['/home/lucas/projects/mia_projects/data_cevestoc_1/data/raw_data/alej170316_test24042018-IRMFonct_+perfusion-2016-03-17083444-0-T13DSENSE-T1TFE-000425_000.nii']" /><set name="fwhm" value="[6.0, 6.0, 6.0]" /><set nam

[2022-04-05 09:45] denisri commented on #263
At what time does the error occur ?
I can't trigger the problem. I can even load it in populse_mia (load pipeline, then copy/paste your xml string in the pipeline line), and see the pipeline boxes, edit values etc. I haven't tried to actually run it, but if I understand the problem is earlier ?

[2022-04-05 10:30] servoz commented on #263
Since, I think, [this commit](https://github.com/populse/capsul/commit/8020c0414a68ac5ac638306da8311d26ed644c2c), Mia crashes if we click on the Bricks tag.

Ex.
- On the populse_mia fix4#263 branch.
- Open a project (be careful, with this branch, the old projects are not compatible anymore, we have to reconvert from mri_conv for example).
- Make for example a  mia_processes smooth.
- Go to the Da

[2022-04-05 10:54] denisri commented on #263
Yes it's already fixed (see earlier)

[2022-04-05 11:22] servoz commented on #263
Oh yes !!!
 Indeed, the problem has been solved for capsul, but rather comes from [this morning's commit](https://github.com/populse/populse_mia/commit/0d4ea1b9cfe75682a562a53a5ccfb5439592f0bd) in populse_mia ...

[2022-04-05 11:49] LStruber commented on #263
Did you recreate your pipeline (by actually running it in the pipeline_manager_tab) or did you open a former pipeline ? The writing of the xml string was wrong but has been fixed now. It's working on my side

[2022-04-05 13:20] servoz commented on #263
Oh OK !
The old databases are no longer valid (this successive obsolescence is going too fast for me!). I have just pushed a new project_8 in the resources for UT and test_brick_history() is working again. Thank you.

On the other hand, taking the example above, if we click on the smooth_1 button:
It seems to me that the delay before displaying the history is much longer than before (I hope it is

[2022-04-05 13:22] LStruber commented on #263
I also get this exception, I need to work on it. It ressemble to an error we observed few months ago, on a ticket about renaming iterated process (if my memories are good)... But the delay is unperceptible on my side... Let's see with bigger pipelines

[2022-04-05 13:44] servoz commented on #263
Ok I just checked and I observe this slowness only on the host. When I am in casa_distro I don't observe it. It may be related to [this old ticket](https://github.com/populse/populse_mia/issues/229)!!?
In a nutshell:  Nipype uses etelemetry to do internal things (check for available updates etc). We normally disconnect this in the main.py of mia [(os.environ['NO_ET'] = "1")](https://github.com/pop

[2022-04-06 16:04] servoz opened #264 "[general need] The Brick tag does not follow the reshuffle made with the "Multiple sort" feature"
To reproduce:

In a project where a process has already been launched (with at least one Bricks tag), if we use the `Multiple sort` feature (right click in the Data Browser table and select` Multiple sort`), the resulting reorganisation seems to work correctly except that the Bricks tag(s) do not change place (so the new table is wrong).

Without having looked at this problem in detail, I suspect

[2022-04-12 07:34] LStruber commented on #263
The problem does not occur when building the pipeline (here node controller can be accessed), but only when we show it from history... I'll investigate

[2022-04-12 08:27] LStruber commented on #263
**UPDATE ON THE PROGRESS:** (currently in branch fix4#263)
- The new table/collection history has been added to MIA database. For now it contains three column:
    - an uuid (str)
    - the xml chain of the pipeline (str)
    - the list of bricks/process uuid included in the pipeline (list of str)
-  In the main collection, the uuid of the history has been added for each entry
- This allows:
    -

[2022-04-12 09:26] denisri commented on #263
It's probably in Capsul, I'll try to look at it.

[2022-04-12 09:49] denisri commented on #263
The first problem (weak ref on `CapsulEngine` object) was in Mia actually, and it's fixed now: it was "just" that pipelines (from xml) were rebuilt using a temporary (and empty) `CpasulEngine`, which is weakly referenced in the pipeline (through `StudyConfig`). It's better to use the existing and configured engine `Config.get_capsul_engine()`.

[2022-04-12 10:10] denisri commented on #263
The 2nd problem is more tricky: the `PipelineDeveloperView` widget (C++) is deleted when the `PopUpShowHistory` widget (C++) is deleted, that is when the python `PopUpShowHistory` object is deleted. But there it doesn't seem to delete the python part of `PipelineDeveloperView` at this time, but somewhere later (probably a mechanism in python or sip), thus at tome point the C++ widget is deleted wh

[2022-04-12 10:38] servoz commented on #263
Yes, indeed the first problem is fixed (just tested).
For the second, if there is no solution then there is no problem :-))))))... Especially since it seems to do the job.
If it's just stdout pollution then it works as expected, maybe the solution is to sweep things under the rug (I don't like it but if there's no real solution!) and not print on stdout for that specific exception?

[2022-04-12 11:44] denisri commented on #263
I did what I told about in capsul, a test (`sip.isdeleted(self)`) so that it doesn't print the message anymore.

[2022-04-12 12:27] servoz commented on #263
oh yes !!!! The 2 issues seem fixed now.
Thanks @denisri

[2022-04-12 15:30] LStruber commented on #263
1. I have no problem running SpatialPreprocessing pipeline (on fix4#263 branch):
![image](https://user-images.githubusercontent.com/86590799/162997576-798189ed-c29f-4e51-a8c9-873e3beccb0f.png)
2. Yes it is sometimes the case, in files are missing, I'll check if I can fill them from bricks collection
4. I can easily put history window behind main window and I don't get the white space you mentioned

[2022-04-12 15:33] denisri commented on #263
About workflow execution:
I have also seen such strange things this afternoon. I have done important modifs in soma-workflow, in order to optimize it and allow much larger workflows as it did (we have actually gained maybe 2 orders of magnitude in performance speed). I have pushed the modifs because some people working with large datasets need them, and all tests have passed, but maybe there are s

[2022-04-12 15:34] LStruber commented on #263
Note that my last bv_maker was done this morning !

[2022-04-12 15:36] denisri commented on #263
So the problem probably happened today. It should help me to find out...

[2022-04-12 15:37] denisri commented on #263
In the meantime you can reset soma-workflow to changeset a26c5ce40e4d03a560ea4f42bfed0df590f063f0, before I started all modifs. I'lll tell you when things are fixed. Sorry for the inconvenience.

[2022-04-12 16:00] denisri commented on #263
@servoz, can you confirm your soma-workflow was on changeset 088f8e42efce6b9efe526fca1f39cb7267c0395a (today 2022/04/12, about noon) ? I'm not sure I haven't fixed the problem yet in this last change, since I don't observe it anymore, and the last commit was actually a fix about files handling. But as it seems to be more or less random, I'll keep testing...

[2022-04-12 17:36] LStruber commented on #263
@denisri on my side, I'm 3 commits late on soma-workflow : 507903cd9c89af19fbc7c26cea30e10f3d70bca2
I'll try on last commit

[2022-04-12 18:07] LStruber commented on #263
On last commit, Spatial preprocessing still seems to work (no error in soma-workflow monitoring, neither in the status bar at the bottom of the screen). But still the stdout message

[2022-04-12 18:26] LStruber commented on #263
@servoz regarding point 2, do we really need to be able to open the controller or every information is contained in the brick table below ?

[2022-04-13 06:02] servoz commented on #263
I am very surprised that it works properly on your side.
So I'm going to start the test again and check everything that could cause problems. I will keep you informed very soon

[2022-04-13 06:50] denisri commented on #263
Oh, there is a missing job in the workflow ? huh I really have to check. I could not cause an error yesterday, I will test again today.

[2022-04-13 08:02] LStruber commented on #263
New test this morning (same pipeline):
![image](https://user-images.githubusercontent.com/86590799/163129330-0e2fd000-377c-4da8-8054-83d47e30198c.png)

It seems indeed to be "random"

[2022-04-13 08:36] denisri commented on #263
OK I finally ran into this case. It seems that all soma-workflow files have suddenly been removed. I'm investigating... As I said you can reset to a previous commit until I find it out and fix it.

[2022-04-13 08:52] servoz commented on #263
I just tested again after meticulous checks.
I am on host (not BV container).
Everything is in master branches except mia on fix4#263, and uptodate
capsul: 2947c22846afc19e06dbf1af254dc8653262caa5
somabase: 572686f104dd509f0b084e10d3856580db50c35
somaworkflow: 088f8e42efce6b9efe526fca1f39cb7267c0395a
populse_mia: 6b1dcce
mia_processes: dd90bd869048c23c2d40f135ddf4bc02cc135f51
populse_db: 55c295b98

[2022-04-13 09:14] servoz commented on #263
exactly, I just tested it and it works like a charm with this commit! Thanks

[2022-04-13 09:15] denisri commented on #263
OK I think I have something. I'll push a temporary fix to get things working, then I need to find a better solution. I'm just checking that it actually fixes things.

[2022-04-13 09:51] servoz commented on #263
I've just tested your latest commits and I think we're getting something really good. Indeed, the 4-2 point is handled , which is really nice for the user.

Regarding point 4-1, currently the history window is always in front of the main window. This is not too disturbing because when we want to consult the history it is to look at this window immediately.  However as we are non modal, the user ca

[2022-04-13 09:54] LStruber commented on #263
Regarding point 4.1, it will be hard for me to look at it because on my configuration I can put history window behind main window without any problem... See this picture:
![image](https://user-images.githubusercontent.com/86590799/163153006-04bb30b0-638f-4983-b0ec-3adc2e91fe7e.png)

[2022-04-13 10:02] denisri commented on #263
OK I have implemented a better fix and pushed it.
To explain: the problem was in a cleanup which removes orphan files not referenced any longer in the soma-workflow database. Before my last week modifs, all files were all living in the same directory, thus we checked every file in this directory, and erased it if it was no longer referenced in the database. However I introduced a change to avoid h

[2022-04-13 10:06] denisri commented on #263
My fix does not address this problem at all, and I have never seen it, but if you had it, it should still be around. I have no idea what can cause it...

[2022-04-13 10:15] denisri commented on #263
@LStruber you're sure you had not disabled a node by mistake ? ;)

[2022-04-13 10:17] servoz commented on #263
Oh yes, it's working fine now! Thanks @denisri

[2022-04-13 10:24] servoz commented on #263
It's very strange, I don't have this possibility at all...
I'll take a look at that. You have an idea of what could cause this. If it's only me that has this working it means that it's not related to the codes but to my configuration... Strange ...

[2022-04-13 10:30] denisri commented on #263
I'd say this could be some window flags set in the Qt widget (like modal / window modal / stay on top etc.), that may not be handled the same way in different window managers. I don't seem to have the problem on my side.

[2022-04-13 10:46] servoz commented on #263
Ah ok I didn't know ... I was just planning to look at the window flags. If I remember well, every call of setWindowFlags() will completely override the current settings, so we need to set all the flags at once. Ok I am looking at this.

[2022-04-13 11:11] LStruber commented on #263
I changed the way to higlight nodes, as @servoz suggested. I'll work on point 2.

[2022-04-13 11:34] LStruber commented on #263
I just thought of a case that is not managed with current implementation:
Brick collection is filled with the uuids of workflow jobs, that are (if I am not mistaken) unitary processes (called bricks in MIA).
Then, if the pipeline presented in history is not only composed of unitary processes, but also subpipelines, we do not display informations about subpipeline (when clicked) in the brick table

[2022-04-13 13:10] servoz commented on #263
Yes it's nice !

I see one other thing that doesn't fit.

In the history window if we select another brick, I see two problems. One minor, one major.

The width of the columns do not adapt to the new data. For example, still with the prepocessing pipeline, if we click on the `spatial_preprocessing_1_1.realign1` button in the History column.
![Screenshot from 2022-04-13 14-55-01](https://user-image

[2022-04-13 13:46] denisri commented on #263
I see 2 other issues linked to the new history management:
5. a single brick cannot be run any longer: open Mia, open a project, to to the pipeline manager, select a "mia_processes.bricks.proprocess.spm.Smooth" brick. Click on the brick, select "Filter" for its "in_files" parameter and chose an input, then click the Run button -> an error is produced in the terminal, because it's trying to save th

[2022-04-13 14:20] servoz commented on #263
I just tested and I don't reproduce. Have you ever pushed a patch?

[2022-04-13 14:34] denisri commented on #263
No... how strange...

[2022-04-13 14:52] servoz commented on #263
Did you still reproduce ?

[2022-04-13 15:02] servoz commented on #263
One last thing (perhaps). If we close Mia and a History window is open, it stays alive after mia is closed.
We should close everything when we close mia? (this is also true for the soma-workflow GUI).
This is not a major problem ...

[2022-04-13 15:04] LStruber commented on #263
@denisri I also can launch single bricks.

@servoz for the error in the brick table of channel_info and tissues, could you check if error is present in master branch also ? I did not change this part.

[2022-04-13 15:04] LStruber commented on #263
@servoz yes, everything should be closed when MIA is closed, I noticed that but I cannot do everything in the same time :)

[2022-04-13 15:08] servoz commented on #263
What? this is even more strange :-))))

[2022-04-13 15:10] servoz commented on #263
Ok, thanks for all the tests and the suggestions for improvement. Things may have evolved a bit since we did the first ones. I propose to take stock and gather what remains to be done (this ticket is getting a bit long to see everything at a glance!).

[2022-04-13 15:15] servoz commented on #263
Yes, it's the same on master. It's an old display issue!

[2022-04-13 15:17] servoz commented on #263
more seriously, that's why I'm going to try to summarise what remains to be done, so that we can share the work.

[2022-04-13 15:19] LStruber commented on #263
I was too fast for you this time. I would add:
10. Check if remove_orphan functions are still up to date with the new database, as well as (tightly related) the click on "cleanup obsolete items" button

[2022-04-13 15:21] LStruber commented on #263
@denisri In my tests I actually did "export unconnected mandatory plugs"

[2022-04-13 15:27] servoz commented on #263
For me it was "export all unconnected plugs"
![Screenshot from 2022-04-13 17-27-13](https://user-images.githubusercontent.com/37933899/163215721-5e2d5735-159a-42b1-925d-601af821d026.png)
.

[2022-04-13 15:36] denisri commented on #263
Ah, that's it: I was in the "simplified" case where the "pipeline" contains just a single unconnected node (no export at all), where the user runs thus, not a pipeline but a single process. This use case is "just for comfort" but is important for simplicity of use, as most users will use existing processes or pipelines without building anything in them, thus don't expect to have a "pipeline constr

[2022-04-13 15:48] servoz commented on #263
oh I see!!! I have to admit that I always export the plugs ..... Without exporting anything I reproduce!
![Screenshot from 2022-04-13 17-46-24](https://user-images.githubusercontent.com/37933899/163219363-dca4a8f7-319f-4e63-8ba2-711186a673dc.png)
 Indeed "simplified" case is very interesting for user, and it should work!

[2022-04-13 15:53] servoz commented on #263
so can we say that:
1. Pipeline launch is erratic issue --> solved in soma-workflow by @denisri: **_Fixed_**
4. Foreground/background issue --> seems to be ok for everybody now (ok for me):  **_Fixed_**
??

[2022-04-13 15:57] servoz commented on #263
If Yes, what do we do with 2? We invest time to populate the input/output in the controller or we hide it in history mode and use only the parameter table below the pipeline ????

[2022-04-13 16:04] servoz commented on #263
1- Single brick issue in "simple mode" (no export)
2- Some pipeline cannot be reloaded from xml --> @denisri work on a fix in Capsul. In the meantime I will handle the exception in MIA
3- Brick table issues in updating, column size and sometimes wrong data in some colums
4- Handle the case of bricks that are subpipelines (what should we do ?)
5- Test and handle the case of iterated pipelines
6- Ch

[2022-04-13 16:11] servoz commented on #263
For 6. I have a partial fix, but there are still problems, and I expect similar issues as what I ran into when trying to build a "fake morphologist" pipeline (some nodes activation was not working, probably because some internal parameters default/optional states were not preserved. Thus it may take some time to fix completely.

Ok, so we have:

1-  Single brick issue in "simple mode" (no export)

[2022-04-13 16:12] denisri commented on #263
OK this is fixed in capsul.

[2022-04-13 16:14] servoz commented on #263
Wonderful, the list is shrinking as fast as it was built!
1- Some pipeline cannot be reloaded from xml --> @denisri work on a fix in Capsul. In the meantime I will handle the exception in MIA
2- Brick table issues in updating, column size and sometimes wrong data in some colums
3- Handle the case of bricks that are subpipelines (what should we do ?)
4- Test and handle the case of iterated pipeline

[2022-04-13 16:49] servoz commented on #263
8- Node controller inputs/outputs should be populated  --> let this for later

[2022-04-14 07:09] LStruber commented on #263
I take point 3. In short, my idea is to:
- if the selected brick in data browser is inside a subpipeline node:
    - find in which subpipeline resides the brick (iterative function as there can be several nested subpipelines) --> **Issue here:** if several bricks in several subpipelines has the same name this can lead to conflict, (how) can we resolve it ?
    - highlight the subpipeline node

[2022-04-14 07:19] LStruber commented on #263
@denisri @servoz maybe somewhere in Capsul/MIA there are functions that have already been coded to do what I suggested ?
- from a brick name, find the subpipeline(s) it belongs ?
- from an input/output plug of a pipeline, find the first unitary process it crosses (either forward or backward) ?

[2022-04-14 07:28] denisri commented on #263
The brick name cannot be enough to find out the subpipeline: for instance in our Morphologist pipeline, there are two "normalization" subpipelines which are applied first on the raw data, then on the skull-stripped data, and they thus contain the same sub-processes (and sub-pipelines), so the bricks names are not unique.
I think that when we get UUIDs for individual bricks (which used to be done d

[2022-04-14 07:32] LStruber commented on #263
In fact (I forgot that when writing my previous message), the name of the bricks in the database is constructed as follows:
`name_of_subpipeline_1.name_of_subpipeline_2.[...].name_of_brick`

So from an "database" brick, we can find out which subpipeline it belongs.

[2022-04-14 08:08] LStruber commented on #263
@denisri I just pushed a commit that should correct the crash you reported yesterday

[2022-04-14 08:09] servoz commented on #263
if the selected brick in data browser is inside a subpipeline node:
        find in which subpipeline resides the brick (iterative function as there can be several nested subpipelines) --> Issue here: if several bricks in several subpipelines has the same name this can lead to conflict, (how) can we resolve it ?
        highlight the subpipeline node
        display inputs/outputs of the selected

[2022-04-14 08:12] LStruber commented on #263
This was in fact easy since (as I said after) the brick_name contains the subpipeline name. done

This should be done with last commit

done also

I'm working on this that is a bit more complicated, and I will answer your questions soon @servoz

[2022-04-14 12:01] LStruber commented on #263
In the meantime, I'll start looking at iterated pipelines

[2022-04-14 12:07] servoz commented on #263
Since d79a636ee039dc09a7ecb3c89361cab487d57551 we cannot open anymore the history windows from a project, and Mia crashes.
Exception:
[code]

[2022-04-14 12:14] LStruber commented on #263
hmmm could you give a minimum steps to reproduce, I can't make it crash, I can open each history brick... (single bricks, bricks in subpipeline, bricks in imbricked subpipeline)

[2022-04-14 12:22] servoz commented on #263
For me it's OK. We keep` 8) Node controller I/O should be populated --> let's leave that for later`, but until it's working, it's better to remove it. I think it's better to show only what works. To be able to reconnect easily and quickly, I think the best thing to do is to put in the code comment the number of this ticket and a small explanation.

What do you intend to do? If I remember correctly

[2022-04-14 12:24] LStruber commented on #263
`PipelineDeveloperView` was well designed and has an input called "allow_open_controller" that can be set to True or False !

[2022-04-14 12:25] servoz commented on #263
Ok, nice!

[2022-04-14 12:26] servoz commented on #263
Well, I'm just trying to open the history in the test project I use regularly. I will investigate...

[2022-04-14 12:29] servoz commented on #263
Are you up to date with all populse?

[2022-04-14 12:30] LStruber commented on #263
From what I see it may be a naming issue (between node_name and name and context_name etc.). I didn't try to rename pipeline. Did you rename it in your test pipeline ?

I should be up to date or almost, I did bv_maker this morning. I'll check

[2022-04-14 12:35] servoz commented on #263
No, it does not seem to me.

[2022-04-14 12:47] LStruber commented on #263
Could you print "full_brick_name" l. 4970 ? (before any "pop")

[2022-04-14 12:58] LStruber commented on #263
no since your full_brick_names should be "poped" l.4996

[2022-04-14 12:59] servoz commented on #263
Yes changing by
`self.node_selected(full_brick_name[0], pipeline.nodes[full_brick_name[-1]])` #l5008
works ... But I lose the highlighting of the nodes... ah and nothing change when I select a node in the history window ...

[2022-04-14 13:00] LStruber commented on #263
and if you set -1 here, everything will go wrong with subpipelines, it should stay 0 here

[2022-04-14 13:02] servoz commented on #263
I do not pass in l4996 since the pipeline have more than 2 nodes (if len(pipeline.nodes) == 2:)

[2022-04-14 13:04] servoz commented on #263
did you test with the project obtained after running the preprocessing pipeline of mia_processes?

[2022-04-14 13:06] LStruber commented on #263
I tried it with Smooth alone, Spatial preprocessing alone, Spatial preprocessing and Smooth on anat file before, and nested subpipelines (a spatial preproc with smooth I saved in user_processes and another smooth before).
It works in all cases on my side

[2022-04-14 13:06] LStruber commented on #263
All bricks from mia_processe

[2022-04-14 13:07] LStruber commented on #263
When I run a Spatial_Preprocessing alone, my pipeline have two nodes: one named '' and the other named 'spatial_preprocessing_1_1'

[2022-04-14 13:15] LStruber commented on #263
Ah ! I managed to make it crash ! Once again, I exported all plugs before running pipeline. If I don't the pipeline is not the same, and I think you didn't export in your case too. I work on a fix

[2022-04-14 13:24] servoz commented on #263
oh exactly i certainly took by chance the pipeline without export that i tested yesterday following the discussion with @denisri !!! !!!
phew, I thought I was going crazy ...
On the other hand it reminds us that we still have to manage the case without export (which I didn't think about until yesterday and which is very useful for users!)

[2022-04-14 13:46] LStruber commented on #263
wait... now it crashes in some other cases

[2022-04-14 13:46] servoz commented on #263
ah and I just seen that you fixed a large part of the point 2 with 78894713f !!! Nice !!!.
So please let me the last part of this point ;-)

[2022-04-14 13:47] servoz commented on #263
I leave you on the end of thefix and I go back on the end of the point 2
!

[2022-04-14 13:50] LStruber commented on #263
ok it should be ok now, silly error (`is not` and `!=` is not equivalent in python !)

[2022-04-14 13:52] LStruber commented on #263
Regarding point 2... If you feel hurt about me not letting you doing it, you can look (again) at UT that my changes seems to have broken !

[2022-04-14 13:59] servoz commented on #263
I don't feel hurt at all!!! the more important is that things are moving forward. It is the opposite that could hurt me :-)))
I will look at the UTs ...
I will look at the last point of point 2 (bad dispay of some parameters). It seems to be an old issue (that we didn't detect until yesterday) and that has nothing to do with PopUpShowHistory (well, I think I just started to look).

[2022-04-14 18:36] LStruber commented on #263
1- Some pipeline cannot be reloaded from xml --> **@denisri work on a fix in Capsul. Exception should be handled in MIA**
2- Brick table issues in updating, column size and sometimes wrong data in some colums --> **@servoz**
3- Handle the case of bricks that are subpipelines --> **seems OK to me, @denisri can you check on your side**
4- Test and handle the case of iterated pipelines --> **TODO (@L

[2022-04-14 19:25] LStruber commented on #263
About point 4:
For now, when trying history with a iterated process, the pipeline view does not show (we see only the brick row). Indeed, there is an exception when reloading the pipeline from the xml string. Two solutions:
- Either we fix this in Capsul and allow the "reloading" of an iterated pipeline (I've no idea how difficult it could be)
- Or when saving the pipeline in initialization, we do

[2022-04-14 20:00] servoz commented on #262
Ok for me!

[2022-04-14 20:09] servoz commented on #263
I had never thought about this case. For me the current iteration in Mia only allows interate on the pipeline. I'm not sure if it would work if we add before or after something. It would be necessary to test, in fact I do not know...

[2022-04-15 09:16] LStruber commented on #263
I pushed commits to save inner pipelines of iterated pipelines and to display it in the history window (the difficult part here was to associate the iterated pipeline process to the right brick in the database. Note that inputs/outputs of saved pipeline contains only the last iteration ! It may cause trouble when reactivating node controller)
I tested it with an iterated smooth, an iterated spatia

[2022-04-15 09:18] LStruber commented on #263
I'll look at point 5 and the exception occuring when postprocessing a pipeline execution

[2022-04-15 09:45] servoz commented on #263
Most of the issues for point 2 now seem to be fixed.

There are still two problems which certainly come from the initialisation (certainly a very old problem which has pass under the radar until now!):

a)The tuples are transformed into lists. I'll look into this now. I don't think it's from the controller because we see the right value in the controller's GUI  for the value of the `tissue` parame

[2022-04-15 09:50] servoz commented on #263
Wonderful the UTs are now down after my last change ....  I take it (maybe at the end of the point 2).

[2022-04-15 11:04] servoz commented on #263
I just tested iterated spatial preprocessing and I see:
[code]
Apart from that, everything seems to be fine with this pipeline. All outputs are correctly created and the history window gives expected results. However, this pipeline is much simpler than @denisri . I think it's his pipeline that will be really revealing (crash test pipeline :-)))).

[2022-04-15 11:07] LStruber commented on #263
yep that's the exception I was mentionning. On it !

[2022-04-15 11:10] servoz commented on #263
Oh yes !!!!!!

[2022-04-15 11:16] LStruber commented on #263
And as I expected, playing with "garbage collect" button largely messes up the history ! I think that too much bricks are deleted in "cleanup_orphan" functions, we need to keep all bricks that are referenced in a pipeline

[2022-04-15 12:33] servoz commented on #263
I found the culprit!
Its during initialisation [(PipelineManagerTab.init_pipeline()]((https://github.com/populse/populse_mia/blob/master/python/populse_mia/user_interface/pipeline_manager/pipeline_manager_tab.py#L1670)) when indexing in db the values for COLLECTION_BRICK ([PipelineManagerTab._register_node_io_in_database(),](https://github.com/populse/populse_mia/blob/40ca06565d38afb994a3f1df81b3d

[2022-04-15 13:17] servoz commented on #263
Ok for the point 2 I think the major part are now fixed.
There's just one other thing wrong. The tuples get lost and become lists. To be as rigorous as possible, this is not good. However I can live with it (it doesn't fundamentally change the information in the context of viewing the history, in my opinion).
What do you think about it?

[2022-04-15 13:38] servoz commented on #263
Ok only points 4 and 5 remain (the others are settled or in the process, or to be put in new tickets). According to your last posts you seem to be working on points 4 and 5 already @LStruber ?
So I'm going to work on the TUs again, and then I can come back for points 4 and 5 if necessary.

[2022-04-15 14:37] LStruber commented on #263
I finished working on point 4 this morning, and validated it on several pipelines, then it's settled also (unless @denisri or you find cases it does not work), and last commit should do the job for point 5, garbage collecting now do not mess up anymore the brick and history collections (and exception we discussed is gone)
I think we're closed to be able to close this ticket !

[2022-04-15 14:38] LStruber commented on #263
And if history display is ok for everybody, we'll close #262 in the same time

[2022-04-15 14:48] LStruber commented on #263
(I forgot to mention that if you find cases that do not work, please wait for next week to post it so I can spent a good week-end :D)

[2022-04-16 08:22] servoz commented on #263
Great!

[2022-04-19 08:34] servoz commented on #263
I have just redone some tests with my pipelines and it now works correctly.
I think @denisri  has a more complex test pipeline than mine. Let's wait and see what @denisri will say with a test on his pipeline. Then I propose to close this ticket and also #262.

Unless I am mistaken, this ticket still has items 1, 6, 7 and 8 to process. When we close this ticket, we can open 4 new tickets, one for e

[2022-04-19 09:25] servoz commented on #260
Sorry, I didn't have time to look seriously at this ticket before...

Exactly. data_tests is only used to provide test data to the users. resources is used for UTs. In resources we could also remove resources/spm12 which logically should be transferred to mia_processes (I've been thinking about it for a long time but never did it...).

So if we want to do things right, I agree with you (solution 2

[2022-04-19 09:33] servoz commented on #260
There is already [one mia in pypi](https://pypi.org/search/?q=mia) ... Maybe it's not a good idea to change the name populse_mia to mia ?

[2022-04-19 10:45] servoz commented on #263
Working on another ticket (#264), I notice that there is still at least one problem.

To reproduce:

Take the Smooth brick (from mia_processes for example), setup the pipeline in simplified mode (no inputs/outputs nodes), select the in_files parameter and run the pipeline.
![Screenshot from 2022-04-19 12-41-14](https://user-images.githubusercontent.com/37933899/163986818-e5d7bc66-2311-47ff-a89e-a4

[2022-04-19 16:40] LStruber commented on #263
I handled this particular case in history display, but the name remains "Smooth.main" in the data browser. This name is "forced" by Capsul when the brick is alone and I didn't dig into it. I indeed think that this is tightly linked to #258

[2022-04-20 12:06] servoz commented on #263
Great !!!!
[So we only have points 6, 7 and 8 left](https://github.com/populse/populse_mia/issues/263#issuecomment-1099516527). These are not priorities and we will be able to open 3 tickets to fix these points later.
If everyone agrees (everyone's tests are successful) we can close this ticket and also #162?

@denisri:

- [what do you think of the name Smooth.main observed](https://github.com/pop

[2022-04-20 13:40] servoz commented on #263
It seems to come from Mia. I'm investigating...

[2022-04-20 13:58] denisri commented on #263
Yes, OK for me.

I guess it's because a single process is replaced with a small pipeline containing a single node. If it's ust for the name, the node has probably be named "main" hard-coded but could be changed to anything else (could be Smooth.Smooth here). Does it matter ?
Now the problem is more certainly the crash. The small pipeline is created on-the-fly and temporarily when needed, to it's m

[2022-04-20 14:12] denisri commented on #263
I finally could create a "fake morphologist" pipeline that can be used without dependencies (other than Capsul) in tests. Look at:
https://github.com/populse/capsul/blob/master/capsul/pipeline/test/fake_morphologist/README.rst

[2022-04-20 14:16] servoz commented on #263
Now the problem is more certainly the crash. The small pipeline is created on-the-fly and temporarily when needed, to it's maybe not the same instance which runs (or generates the workflow), and the one which is indexed in the database. Maybe this could cause a problem ?

@LStruber fixed the crash yesterday. Concerning the name, I would have preferred it to be the same in simple mode or in inputs/

[2022-04-20 16:14] servoz opened #265 "[general need] FSL is no longer working in mia"
It is not known since how long.
First investigation indicate that with all populse on master:
  - [capsul at 618f3fa0 commit and populse_mia at aeb88cb4 commit => it's working](https://github.com/populse/populse_mia/issues/263#issuecomment-1103986840)
  - capsul at 618f3fa0 commit and populse_mia at d640d339 => it's not working
exception:
[code]

Same result using nipype 1.7.0 (not tested before)

[2022-04-20 16:29] servoz opened #266 "[general need] Close all windows when we close Mia"
Currently, if the soma-workflow and history windows (there may be others) have not been closed by the user, they remain active when Mia is closed.
All open windows in Mia should be closed when leaving Mia.

[2022-04-20 16:38] servoz opened #267 "[Pipeline history] Node controller inputs/outputs should be populated in history windows"
Currently, only the inputs and outputs of the pipeline are filled in the node controller.
It would be desirable that, in the history window, all inputs and outputs for each node of the pipeline would be available in the controller.
For now, the node controllers are disabled in the history window.
When this ticket will be processed,  we could make the nodes controllers available again in the histor

[2022-04-20 16:46] servoz commented on #263
I have just opened 2 tickets for points 7 and 8 (#266 and #267, respectively).
Regarding point 6, I think there is no need to open a new ticket for this, the stdout is clean enough now!

[2022-04-20 17:58] LStruber commented on #265
In software_properties.py, if I change line 392:
`m['directory'] = os.path.dirname(fsl_config)`
by:
`m['directory'] = os.path.dirname('/home/lucas/apps/fsl/bin')`

It works. Of course it should be done cleanly (by removing 'fslconf' at the end of fsl_config directory and adding 'bin'). But as you are the one that works a lot on synchronization between Capsul config and MIA preferences, you may pot

[2022-04-20 18:12] LStruber commented on #265
Adding bin is not necessary. The following lines are working:

[code]

I'm waiting for your opinion before pushing

[2022-04-20 19:33] #263 closed

[2022-04-20 20:19] servoz commented on #265
Oh great !!
You found the issue exactly !!!

It looks like a (big) typo :-).

I would prefer to replace
l392 `m['directory'] = os.path.dirname(fsl_config)`
with
[code]

but indeed
[code]
do also the job !

I will leave to you the pleasure to push the change and close this ticket.
Cool!

[2022-04-20 21:20] LStruber commented on #265
closed with 73f121707d25b3f2ee3d28cb57981313cd6ea6cd

[2022-04-20 21:20] #265 closed

[2022-04-22 13:11] servoz commented on #264
closed by 4360d8a, 2258a2a and d7c42cd.

[2022-04-22 13:11] #264 closed

[2022-04-22 17:27] LStruber opened #269 "[Bug of automatic completion] Auto-completion of lists overrides parameters entered by user"
Note: This has only be tested with controller V2

Minimum step to reproduce:
- Open your favorite project
- Add a Coregister brick (or any other brick with lists in input parameters) in the pipeline manager
- Initialize files with any files of your data browser
- **Modify** default input parameters (especially lists)
- Launch the brick and look at these parameters

The brick is launched but some o

[2022-04-22 20:56] servoz commented on #269
Oh damn... This is really a big bug !!!!
We need to fixe it ASAP.

[2022-04-23 17:55] servoz commented on #269
I reproduce!

* Using Smooth from mia_processes:
  - Before starting the calculation :
![Screenshot from 2022-04-23 19-18-59](https://user-images.githubusercontent.com/37933899/164917058-de87d622-e220-41b5-a297-4ac1ba79987d.png)
  - After the calculation :
![Screenshot from 2022-04-23 19-19-28](https://user-images.githubusercontent.com/37933899/164917082-12a9a7e7-f357-4d11-9854-25b37a721e82.png)

[2022-04-23 18:32] servoz commented on #269
Hum ... I just tested with the V1 controller... I did not observe this problem with the old controller...

So, I think the issue is strongly related to V2 controller (I think we have to investigate mainly in capsul side).

And @LStruber , maybe it is not necessary to hard code in the brick, it will be enough to use the V1 controller while waiting to fix this ticket? (I also have bricks that only w

[2022-04-25 10:11] LStruber commented on #269
I think I will implement both for the sake of simplicity (for users). One simple brick with hardcoded parameters, because the user may want to perform a "simple" registration that works in most cases (without defining parameters), and a complex registration brick with all inputs avalaible to the user.

I'll test the brick with V1 controller asap.

[2022-04-25 10:18] servoz opened #270 "[DataBrowser indexing] When adding a tag to the database, if no default value is set, Mia crashes"
When adding a new tag in a project in the DataBrowser,
![Screenshot from 2022-04-25 11-48-12](https://user-images.githubusercontent.com/37933899/165065079-913fa795-221d-47bc-b9bf-f500e94b71e7.png)

if we forget to give a default value,
![Screenshot from 2022-04-25 11-50-17](https://user-images.githubusercontent.com/37933899/165065336-5cba3d85-faf6-42da-a5ee-c371274b712d.png)

Mia crashes with:
[co

[2022-04-25 10:29] servoz commented on #269
Why not, but as you know you can define the default values you want for the parameters in the constructor of the class corresponding to the brick (when self.add_trait("foo", ...)). I think it's like if you hard code the value (the user can use as it is the brick) and in addition there is the possibility to change the value if the user wants. This is the idea in which the bricks in mia_processes ha

[2022-04-25 10:40] LStruber commented on #269
You're true but I would like to have 2 default values for this brick, one for T1w file and the other for bold files. That's why I think it could be good to get a easy "T1wRegistration", a easy "BoldRegistration" and a complex "Registration", but that is of course debatable

[2022-04-25 11:08] servoz commented on #269
Ok, but ... :-))) there is also the possibility to set values when building the pipeline! Is this what you want?
For example in the spatial_preprocessing pipeline we define for the[ normalize12_2 brick, the plug write_voxel_sizes = [2.0, 2.0, 2.0]](https://github.com/populse/mia_processes/blob/master/python/mia_processes/pipelines/preprocess/spatial_preprocessing_1.py#L50).

[2022-04-25 11:28] LStruber commented on #269
I didn't know that ! That would indeed solve the problem I guess. I'll try this way

[2022-04-27 10:17] LStruber opened #271 "[Completion bug] Completion only works once"
Minimum steps to reproduce:
- Open your favorite project
- Add a smooth brick in the pipeline manager
- Export all unconnected mandatory plugs
- Select a file in the input node
- Run the brick
- Go to data browser, and see it worked
- Go back to pipeline manager
- Open a new tab
- Add a smooth brick in this tab (or another one)
- Export all unconnected mandatory plugs
- Select a file in the input

[2022-04-27 10:18] LStruber commented on #271
Note that you can relaunch the first pipeline, even after the error occured

[2022-04-28 10:15] servoz opened #272 "[general need] The self object in the list_outputs() and run_process_mia() methods of a mia_processes class are not the same"
I don't know where to put this ticket, it comes from observations while working in the mia_processes package, it certainly has involvement in capsul, populse_mia, soma-workflow...... I put it in populse_mia by default.

1. The `self` object in the `list_outputs()` and `run_process_mia()` methods of a mia_processes class, (e.g. the mia_processes.bricks.preprocess.spm.Smooth()), are not the same (no

[2022-05-02 12:41] denisri commented on #269
(I'm coming back from vacation so I haven't looked at this ticket before)
Yes it seems to be a bug in the Controller GUI. It isn't related to completion: if you modify values in a list as you did, then open a node controller GUI on the same node, you get the initial values - or more exactly the 1st values of lists seems to be modified, not the other ones. I'll try to have a look.

[2022-05-02 14:01] denisri commented on #269
I think I could fix the problem in soma-base. Could you try it on your side please ?

[2022-05-02 14:25] denisri commented on #271
I'm looking at it. Completion seems to fail for the second pipeline. I don't know why it's different and why it fails (yet), but I can reproduce the problem.

[2022-05-02 14:27] servoz commented on #269
Oh yes, the issue is now fixed.
Thanks @denisri!

[2022-05-02 14:33] servoz opened #273 "Indexing of files for the populse machinery (may be of no interest to the users)"
There is now an entry in the History tag with the history button for nipype script file.
![Screenshot from 2022-04-23 19-35-27](https://user-images.githubusercontent.com/37933899/164933855-98600a6f-8e7b-4483-a499-e90100da5e09.png)
1/ this script should not be indexed in the project (it's an internal code file that doesn't interest the user, although this can be discussed, by the way I don't rememb

[2022-05-02 14:38] #269 closed

[2022-05-02 15:00] denisri commented on #271
OK I think it's fixed: it did not actually depend on the 1st/second tab in the pipeline manager, but whether you had clicked on the node using the left button before exporting its parameters ;)
I explain:
* when you click on a node, it displays its controller GUI, and while doing it it tries to instantiate a completion engine for its process (using the `Process` instance). Once instantiated, the c

[2022-05-02 15:22] denisri commented on #272
I think I understand.
`run_process_mia()` is called at run time, which happens in a separate process (in the OS/Unix meaning of "process"), which means it does not share memory with the process which has been setup on client side by the user in the MIA GUI. The process is transformed into a soma-workflow job, then it is re-created at runtime (unserialized using its parameters) for execution in the

[2022-05-02 17:06] servoz commented on #271
@LStruber can you check and report from your side, please ?

[2022-05-02 17:28] servoz commented on #272
OK, thank you @denisri  for this very clear explanation, which confirms what I had the feeling to have understood by reading the codes of capsul and soma-workflow, for this part.

Yes, we have to take into account the remote calculation and it is therefore perhaps not a good idea to allow access to the database during the calculation. Let's drop that option!

I'm starting to use another option: "a

[2022-05-03 08:27] denisri commented on #272
I don't know what you want to pass as "fake parameters" so I have no opinion...
For database fields like patient name, I see 2 options:
1. make the patient name be a string parameter in the process, and make it filled in automatically via the completion system
2. actually allow database access during execution, with the restrictions evoked above, plus the fact that the processing part will need to

[2022-05-05 07:44] servoz commented on #272
The "fake parameter" I am currently using is a [dictionary whose traits are defined in the constructor](https://github.com/populse/mia_processes/blob/mriqc/python/mia_processes/bricks/reports/reporting.py#L107) as the other "real" input and output parameters of the process.
The traits for this "false parameter" have the userlevel=1 option which allows them to not be seen in the controller.
In fact

[2022-05-05 08:13] servoz opened #274 ""Show doc" feature of a process does not work in all cases."
When we right click on a node/brick, we can choose "Show doc" to see the documentation of the corresponding process (the docstring of the class). On my station this does not work either in case-distro or directly on my host.
See [ticket 225](https://github.com/populse/capsul/issues/225) in capsul.
The tests made by @denisri  on his station indicate that everything works fine at his place. The issu

[2022-05-05 10:04] LStruber commented on #271
It's indeed working now. I close the ticket.

[2022-05-05 10:04] #271 closed

[2022-05-17 06:52] servoz opened #275 "The execution of the process mia_processes.bricks.tools.Add_Floats crashes mia"
A fake brick was created to test the execution step of a minimal process ([initially related to the #11 ticket in mia_processes](https://github.com/populse/mia_processes/issues/11)).
[This process contains just an instantiation of traits in the constructor, nothing special in list_outputs() and only an addition in run_process_mia().](https://github.com/populse/mia_processes/blob/testFloatInOutput/

[2022-05-17 07:10] servoz commented on #275
In fact, Mia crashes with the V2 controller. With the V1 controller display, Mia does not crash ... but the output remains at 0.0. On the other hand soma_workflow indicates that the right result has been obtained:
![Screenshot from 2022-05-17 09-10-27](https://user-images.githubusercontent.com/37933899/168750857-91059e76-26b5-4c72-b079-b6c44ac32c72.png)

[2022-05-17 07:29] servoz commented on #275
Oh I see!
In fact we just have to click on the brick, after the execution, to see the right output result...
I think in this case it is necessary to change the codes to make an update of the controller which does not seem to take place with the V1 controller.
There is still the case of the V2 controller which makes Mia crash in this case of process.

[2022-05-17 10:12] servoz commented on #275
The above error message with segmentation fault was already pointed out by @denisri on the [#11 ticket of mia_processes](https://github.com/populse/mia_processes/issues/11#issuecomment-1122535201)!

[2022-05-17 10:12] servoz commented on #275
The above error message with segmentation fault was already pointed out by @denisri on the [#11 ticket of mia_processes](https://github.com/populse/mia_processes/issues/11#issuecomment-1122535201)!

[2022-05-17 11:59] denisri commented on #275
Yes it's the problem I faced when trying populse/mia_processes#11, and I could not understand what's going on (I have spent like 2 days fighting with it). The crash happens:
* only if a process has an output value modified during runtime
* when closing/deleting/hiding or basically doing anything with the progress bar, or more exactly just after (in an event) the progress bar has been "touched" in

[2022-05-17 12:52] servoz commented on #275
Oh my god, this is not far from being the most complicated type of issue to fix ...

[2022-05-17 16:33] denisri commented on #275
I think I've got it ! If you can check when you have time...

[2022-05-17 20:10] servoz commented on #275
Yes, you did it!!!
The GUI V2 controller no longer crashes Mia. That's wonderful!
I'll look to refresh the V1 GUI at the end of the run.

[2022-05-20 16:13] #259 closed

[2022-06-10 13:49] servoz commented on #270
I've just pushed a patch into the issue#270_2_3 branch for method 2.3, for now only for strings and lists of strings. From this base, it should be fairly easy to extend to all other types. @YannNdr is currently working on method 2.4, which would be the best to implement (no polluting popup).

[2022-06-10 17:29] servoz commented on #270
After the 9305597 commit the Uts were failing.
I just pushed a fix to restart them.
So if we want to stick to the 2-3 solution, the issue#270_2_3 branch should do the trick (taking all types into account, for now only strings and lists of strings are handled).

[2022-06-13 15:26] servoz commented on #270
Thanks to @YannNdr's work, we should be able to close this ticket very soon (we are waiting to see the result of the UTs before merging the issue#270_2_4 into master).

However, while testing the new way of adding a tag, I accidentally noticed that there are issues when we want to change the tags value for some types. I will open a new ticket about this because I think it is independent from ticke

[2022-06-13 16:48] servoz opened #276 "[DataBrowser] Boolean list, Time list and Datetime list types are not well managed"
Let's say we start from the following project:

![Screenshot from 2022-06-13 17-54-12](https://user-images.githubusercontent.com/37933899/173395642-ccc1bb5c-0f0f-4adb-b6e9-6f665b2f2a16.png)

- Boolean list type:
------------------------
If we want to change the value of the "boolean_list" tag (boolean_list type), the result is an empty list:
![Screenshot from 2022-06-13 17-57-11](https://user-imag

[2022-06-13 17:00] #270 closed

[2022-06-15 10:14] YannNdr commented on #276
Closed by 6bf69f9

[2022-06-15 10:14] #276 closed

[2022-06-17 07:26] YannNdr opened #277 "[Undo / Redo] Undo (Ctrl+z) changes in New Pipeline after adding a file in a input node makes Mia craches"
****
I wanted to undo changes un the New Pipeline windows and it has gone wrong!
I added a smooth brick from spm in mia_processes packages, exported all unconnected plugs and added a file to process in the node controller.
In the New Pipeline windows, when I hit once on Ctrl+Z , It deletes the added file. If I hit a second time on Ctrl + Z, Mia crashes.

**Down this read is the generated error:**

[2022-06-17 14:47] BastienCagna opened #278 "[Installation] Installation failed - TypeError: load() missing 1 required positional argument: 'Loader'"
**Describe the bug**
The installation crash with a core dumped during the third step ("Writing [...]").

**Generated error**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download and uncompress the archive
2. Check the requirements (python, java, git)
3. Create a new folder for mia processes
4. run python install_mia.py

**Expected behavior**
A clear and concise description of what

[2022-06-17 15:31] servoz commented on #278
I feel that you are using an old module,  install_mia.py, (and a way that is no longer supported) to install mia !!!
Please tell me where you got the information to install this way so that I can correct it (due to lack of time the documentation is no longer up to date, it should be updated, sorry).
You want to use mia in casa_distro ?

[2022-06-17 15:55] servoz commented on #278
oh I see, [you certainly followed this link ](https://populse.github.io/populse_mia/html/installation/user_installation.htm)(sorry it's one of the first links proposed in the documentation ... I absolutely have to change this documentation ASAP !!!!).
I assume you work at casa_distro.
In this case you just have to create a directory to install things. In this directory you just have to  clone mia_

[2022-06-21 10:11] YannNdr opened #279 "[Undo / Redo] Same issue as issue#277 with Coregister node from spm"
**Mia crashes unexpectedly just as the operate mode issue#277 of Coregister node from spm**.
Indeed, from Pipeline Manager:

-1) Drag and drop Coregister node(mia_processes->bricks->spm) from packages from left tab to New Pipeline window
-2) Right click on coregister_1 in New Pipeline window
-3) Export all unconnected plugs
-4) Execute a undo with Ctrl+Z  without clicking anywhere.

From now you c

[2022-06-21 10:34] servoz commented on #279
Are the two tickets, #277 and #279, not the same ticket?

[2022-06-21 13:53] YannNdr commented on #279
As much as for me, mia crashes when you make the same actions for both #277 and #279 issues and returns almost the same errors. But generated errors are not exactly the same.
That's why I thought of seprarating those issues.

[2022-06-21 13:57] servoz commented on #279
Ok.

[2022-07-01 15:18] servoz opened #280 "[Configuration] Reading the user's configuration file, if it exists, in developer mode should not be possible"
If the configuration file exists in the ~/.populse_mia directory, it is this one that is read in developer mode, whereas in developer mode it should be the populse_mia/properties/config.yml file.

Indeed the interest to have a developer mode and a user mode is to be able to use on the same station, without virtual environment, mia from source and mia from pypi, if one wishes it. The two configurat

[2022-07-01 17:37] servoz commented on #278
Thank you for opening this ticket!

It has allowed us to fix a lot of things in the installation modules. Indeed these modules were written several years ago and the whole populse project has evolved quite a bit since then.

We took advantage of the rewrite to add an option for installation in casa_distro or on the host. On the host, mia works like in casa_distro, but does not have the DataViewer.

[2022-07-01 17:37] #278 closed

[2022-08-08 08:50] servoz commented on #277
It seems that this solution is not effective.
It doesn't really do an undo. Did you notice that the undo doesn't really do the operations in reverse order anymore?

It does:
1- put the brick in the editor pipeline
2- add the nodes
3- add/modify the value of a form.

So undo should do :
3- return to the initial value of the form
2- delete the nodes
1- delete the brick

Now undo does :
(3+2)- at the

[2022-08-09 07:32] YannNdr commented on #277
You are right. I also noticed that the modifications did not resolve the issue. Undo  Object is okay when the process node is not clicked. Things starts going wrong once we click on the process brick leading to an irregular filling of the undo object.
I'm examinig this last one.

[2022-08-17 10:22] servoz commented on #277
I am working on this ticket.
It seems to me that the minimum procedure to reproduce is not strictly the right one. With the one proposed I do not observe the bug.
I will make an edit of the first post with the procedure that produces the bug on my station

[2022-08-19 11:09] servoz commented on #277
In the Mia operation, we clearly have a weakness that causes a big issue in the management of the undo/redo, in the case of a change of node plug value, using the `Filter` button of the Mia GUI controller (this ticket), or not (more generally).

It seems that this weakness stems from [populse_mia.user_interface.pipeline_manager.node_controller.CapsulNodeController.display_parameters()](https://git

[2022-08-19 18:24] servoz commented on #277
Ok, I think I'm starting to understand the issue.

The idea of the populse_mia.user_interface.pipeline_manager.node_controller.CapsulNodeController.display_parameters() method is to check if the node controller GUI exists, if so to destroy it and create a new one.

The issue is that currently the destroyed signal for self.process_widget is not caught due to a typo and the result is that the handle

[2022-08-19 18:25] #277 closed

[2022-08-19 18:37] servoz commented on #279
I'm not reproducing the issue with the minimal procedure of the first post (@YannNdr, try to be very meticulous when giving a procedure to reproduce a bug, please).
I will edit the first post with the correct procedure (which I think, please, @YannNdr can you validate this edit?).

[2022-08-19 18:44] servoz commented on #279
I have just tested the procedure indicated in the **EDIT** of the first post ...
Unfortunately the fix for #277 does not fix this ticket ... We still have to work on this ticket (#279) ...

[2022-08-30 16:15] servoz commented on #229
Without taking the time to investigate, while working on something else, it seems that this slowness is caused by:

[code]
[in the run_command() function of the nipype.utils.subprocess module.](https://github.com/nipy/nipype/blob/2d267b810be9269e9d9b5a8bdeadc042ea3cf5fe/nipype/utils/subprocess.py#L107)

The purpose of this command is to retrieve some information about SPM (make sure the path to SP

[2022-09-01 06:32] servoz commented on #279
@YannNdr, please synchronise regularly #279 and master. #279 is  45 commits behind master and i think your last commit in #279 was already done in master ...

[2022-09-01 07:34] YannNdr commented on #279
@servoz , agreed, sorry for that. Considering the last commit, it's probably the same title used but the approach is different I think.
I'll check that.

[2022-09-01 08:11] servoz commented on #279
no, no, we can't work on a branch that has diverged so much, this is a general remark that has nothing to do with the current tickets...

Regarding the tickets, your last modification:

[code]
(the other one was already done in master), I wonder if it can't lead to a regression (if the node is not a pipeline node there will be no notification...). I haven't had the time to think about a concrete c

[2022-09-01 08:16] servoz commented on #279
I just synchronised issue#279 with master. Don't forget to pull issue#279 quickly.

[2022-09-01 08:24] YannNdr commented on #279
I see the point

[2022-09-01 16:01] #279 closed

[2022-09-01 16:02] servoz commented on #279
As I was wondering, this commit allows to fix this ticket but ...  introduces a new regression...

*Minimum procedure to reproduce the regression:*

0) On the current branch of ticket 279
1) Drag and drop the Coregister node (mia_processes->bricks->spm) from the left tab to the New Pipeline window
2) Right click on the coregister_1 node in the New Pipeline window
3) Export the unconnected mandator

[2022-09-05 14:04] servoz commented on #87
Increasing code coverage will always be an important goal.
However with the recent work of @patafana on UTs (going from 60 to 85 coverage rate) I think this ticket can be closed for now.

[2022-09-05 14:04] #87 closed

[2022-09-05 14:12] servoz opened #283 "[Undo-Redo] Inventory of bugs still existing in V2"
Working on the latest tickets, it seems that Mia V2 is still not stable in all cases when using the undo - redo function.

We need to extensively test the undo - redo and give the minimal procedures to reproduce the observed bug(s).

We can do this in this ticket or open new tickets if there are too many!

[2022-09-05 14:29] servoz opened #284 "[Documentation] Check and complete the documentation on the installation of Mia"
We have to carefully test, check and complete if necessary[ the documentation for the installation of Mia for user](
https://populse.github.io/populse_mia/html/installation/user_installation.html). We propose now the installation of Mia in "light" version, without viewer, or in virtualized version, using [images of BrainVISA](https://brainvisa.info/web/download.html).

It is thus necessary to test

[2022-09-05 15:10] LStruber commented on #87
Well done @patafana !

[2022-09-06 12:13] servoz opened #285 "[casa_distro virtualisation] unit tests are failing in the Singularity container"
Exactly, the test.TestMIAMainWindow.test_open_shell test, and only on the BV Singularity container (not for host installation).

Exceptions / messages:

[code]

[2022-09-06 16:22] servoz commented on #285
Without really having had time to look into the details, here is what is observed for "jupyter qtconsole" in mia (File > Open python shell):

- Mia in host:
    - it doesn't really work: the window is open, but we can't access it:

![Screenshot from 2022-09-06 18-02-43](https://user-images.githubusercontent.com/37933899/188683352-cb31ca0d-8b12-4809-9b6f-4af3aa1421df.png)
    - stdout:

[code]
But,

[2022-09-07 09:03] denisri commented on #285
Unfortunately the ipyhton/jupyter console integration in a running python kernel is very very unstable. It is an undocumented feature that used to work, but is not explicitly maintained. In recent systems it is mostly broken, and I could make it work only in a very precise combination of versions of jupyter, ipython, qtconsole, tornado and a bunch of other modules. A nightmare. So I suppose this f

[2022-09-07 11:19] servoz commented on #285
Thank you for your answer @denisri.
I have to admit that I don't know this (and I never use Jupyter, I'm a bit ashamed :-))).
@patafana  should take a look at it if he has time (I don't have time to do it at the moment).
From what you say, maybe he doesn't need to look at it?
What bothers me a bit is that at the moment the unit tests are working for a wrong reason.
On the host, it doesn't work and

[2022-09-14 15:47] servoz opened #286 "[initialisation step] Export unconnected mandatory plugs does not work while Export all unconnected plugs works"
Anat_mriqc_pipeline (on the mriqcPlusReport branch of mia_processes) does not seem to work if we do `Export unconnected mandatory plugs` while everything seems to work fine if we do `Export all unconnected plugs`.

It could be interesting to reproduce the issue with a smaller pipeline but I haven't had the time to look into it yet and I'm opening this ticket to don't forget ... and try to fix it A

[2022-09-19 11:04] servoz commented on #260
The size of populse_mia is now 150 MB.
Data for users and for unit tests are now saved outside GitHub.

[2022-09-19 11:04] #260 closed

[2022-09-20 16:00] servoz opened #287 "[Mia preferences] Bug when switching from spm standalone to spm"
Let's say we have a standalone SPM configuration:
![Screenshot from 2022-09-20 17-52-52](https://user-images.githubusercontent.com/37933899/191306022-b913ebc9-641d-4fb5-b824-ca9d3a724a13.png)

We change to SPM:
![Screenshot from 2022-09-20 17-54-39](https://user-images.githubusercontent.com/37933899/191306324-7e6aa5e7-b922-443a-9fe1-dbcf9c73c194.png)

We press the OK button and open the preference

[2022-09-20 17:18] #287 closed

[2022-09-28 10:17] servoz commented on #272
Ok, after some changes in populse_mia and looking at what's going on, I think we can keep the idea of the `fake` (or `hidden`? or `messenger` ?, I'm not sure what to call it!) [dict4runtime](https://github.com/populse/mia_processes/blob/mriqcPlusReport/python/mia_processes/bricks/reports/reporting.py#L123) parameter as a messenger between the initialisation step with database access and the runtim

[2022-09-28 10:17] #272 closed

[2022-10-11 13:47] servoz commented on #286
You remind me of the requirements I have to add in the info (templateflow, etc.). I'll do that right away.

For the Anat_mriqc_pipeline pipeline, I worked on it and it was a bit broken... Now it should work ... but now this pipeline has been greatly simplified and there is no more optional plug!!!!!.

I will test with the Bold_mriqc_pipeline which has not been simplified yet and still contains opt

[2022-10-11 14:13] servoz commented on #286
Just tested with Bold_mriqc_pipeline and [your last commit in capsul](https://github.com/populse/capsul/commit/502d8bc9df1032ec96b2298e3c48b38fb5ed2921) do the job ! Thanks.
I think this should also fix few of the issues I've been seeing with creating various pipelines lately... to be seen.
Also, I think this also fixes [a ticket I opened recently](https://github.com/populse/capsul/issues/251). I'

[2022-10-11 14:24] #286 closed